.contacts {
  text-align: right;
  position: relative;
  padding-right: 42px;
  display: block;

  @include max-xl {
    padding-right: 36px;
  }
}

.phone {
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  line-height: 30px;

  @include max-xl {
    font-size: 20px;
  }
  @include max-lg {
    font-size: 18px;
  }
}

.time {
  font-size: 11px;
  color: rgba(254, 254, 254, 0.702);
  line-height: 12px;
  display: block;

  @include max-lg {
    font-size: 10px;
  }
}

.icon {
  border-radius: 12px;
  background-image: url('/icons/envelope.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 19px 14px;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 10px;
  right: 1px;
  top: 3px;
}

// .contacts:hover .icon {
//   background-color: rgb(89, 80, 254);
// }
