.top {
  background: rgba(0, 11, 27, 0.5);
  position: relative;
  z-index: 300;

  @include --max-md {
    background-color: rgb(12, 3, 2);
  }
}

.logo {
  margin-top: -26px;
  margin-bottom: -15px;
  flex-shrink: 0;
  margin-right: 22px;

  @include --max-lg {
    margin-right: 16px;
  }
  @include --max-md {
    margin: 0;
    background: #a90083;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.search {
  flex-grow: 22;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include --max-md {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 4px;
    padding-right: 8px;
  }
}

.primary-container {
  border-bottom: 1px solid rgba(231, 231, 235, 0.34);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
  padding-top: 28px;
  transition: 0.3s ease;

  @include --max-2xl {
    padding-bottom: 12px;
    padding-top: 22px;
  }
  @include --max-md {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: -16px;
    margin-right: -16px;
  }
}

.space1 {
  flex-grow: 52;
  min-width: 22px;

  @include --max-lg {
    min-width: 16px;
  }
  @include --max-md {
    min-width: 8px;
    flex-grow: 10;
  }
}

.space2 {
  flex-grow: 10;
  min-width: 22px;

  @include --max-lg {
    min-width: 16px;
  }
  @include --max-md {
    min-width: 8px;
    flex-grow: 10;
  }
}

.catalog-button {
  @include --max-md {
    display: none;
  }
}

.menu-button {
  padding: 7px;

  @include --md {
    display: none;
  }
}

.toolbar {
  margin-right: -5px;

  @include --max-md {
    margin-right: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f7f7f9;
    border-top: 1px solid #cccccc;
    padding: 7px 3px;
  }
}

.top-menu-primary {
  margin-left: -10px;

  @include --max-md {
    display: none;
  }
}

.top-menu-secondary {
  @include --max-2xl {
    display: none;
  }
}

.mobile-contacts {
  @include --md {
    display: none;
  }
}

.city-select {
  margin-right: -10px;

  @include --max-md {
    margin-right: -4px;
  }
  @include --max-sm {
    max-width: 140px;
  }
}

.secondary-container {
  border-bottom: 1px solid transparent;
  padding: 9px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  :global(body:has([data-hero-after-header]):not(:has([data-stuck]))) & {
    border-bottom-color: rgba(231, 231, 235, 0.34);
  }

  @include --max-2xl {
    padding: 5px 0;
  }
  @include --max-md {
    display: none;
  }
}

.catalog-menu {
  margin-left: -16px;
}

.desktop-contacts {
}
