@keyframes slidein {
  0% {
    transform: translateX(-100%);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes slideout {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    transform: translateX(-100%);
    visibility: hidden;
  }
}

.root {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  background: #fff;
  overflow: auto;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  scroll-padding-top: 8px;

  animation-name: slideout;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.opened {
  animation-name: slidein;
}
