.block {
  position: sticky;

  @include --max-md {
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  @include --md {
    top: -10px;
    background-color: rgba(0, 11, 27, 0.851);
    box-shadow: 0px 6px 7px 0px rgba(0, 8, 35, 0.19);

    // &[data-stuck] {
    //   transition: box-shadow .3s ease, background .3s ease;
    // }

    :global(body:has([data-hero-after-header])) & {
      transition: box-shadow .3s ease, background .3s ease;
      background: transparent;
      box-shadow: none;
  
      &[data-stuck] {
        background: rgba(0, 11, 27, 0.851);
        box-shadow: 0px 6px 7px 0px rgba(0, 8, 35, 0.19);
      }
    }
  }
}

.anchor {
  height: 1px;
  width: 100%;
  position: absolute;
  top: -1px;
  left: 0;
}
