.wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  position: relative;
  padding: 0 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.102);
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

.button:last-child {
  border-right: none;
}

.button::before {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  left: 2px;
  top: -2px;
  right: 2px;
  bottom: -2px;
  background: linear-gradient(53deg, rgb(159, 0, 169) 0%, rgb(141, 45, 250) 100%);
  opacity: 0;
  transition: .3s ease;
}

.button:hover::before {
  opacity: 1;
}

.button:hover .title {
  color: rgba(255, 255, 255, 0.9);
}

.button:hover .badge {
  background: rgb(169, 0, 131);
}

.icon {
  display: block;
  width: 32px;
  height: 32px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: 24px auto;
}

.icon-cart {
  background-image: url('/icons/toolbar/cart.svg');
  background-position: calc(50% + -1px) calc(50% + 4px);

  @include --max-md {
    background-image: url('/icons/toolbar/cart-gray.svg');
    .button:hover & {
      background-image: url('/icons/toolbar/cart.svg');
    }
  }
}

.icon-favorites {
  background-image: url('/icons/toolbar/favorites.svg');
  background-position: calc(50% + 2px) calc(50% + 2px);

  @include --max-md {
    background-image: url('/icons/toolbar/favorites-gray.svg');
    .button:hover & {
      background-image: url('/icons/toolbar/favorites.svg');
    }
  }
}

.icon-profile {
  background-image: url('/icons/toolbar/profile.svg');

  @include --max-md {
    background-image: url('/icons/toolbar/profile-gray.svg');
    .button:hover & {
      background-image: url('/icons/toolbar/profile.svg');
    }
  }
}

.icon-compare {
  background-image: url('/icons/toolbar/compare.svg');
  background-position: calc(50% + -4px) calc(50% + 2px);

  @include --max-md {
    background-image: url('/icons/toolbar/compare-gray.svg');
    .button:hover & {
      background-image: url('/icons/toolbar/compare.svg');
    }
  }
}

.icon-catalog {
  background-image: url('/icons/toolbar/catalog.svg');
  background-position: calc(50% + 0px) calc(50% + 0px);
  background-size: 18px auto;

  @include --max-md {
    background-image: url('/icons/toolbar/catalog-gray.svg');
    .button:hover & {
      background-image: url('/icons/toolbar/catalog.svg');
    }
  }
}

.title {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 12px;
  text-align: center;
  transition: .3s ease;
  display: block;
  
  @include --max-md {
    color: rgb(133, 138, 142);
  }
}

.badge {
  position: absolute;
  top: 4px;
  right: 8px;
  width: 16px;
  height: 16px;
  background: linear-gradient(53deg, rgb(169, 0, 131) 0%, rgb(160, 45, 250) 100%);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  font-size: 9px;
  border-radius: 50%;
}
