.wrap {
  position: sticky;
  top: calc(var(--sticky-header-height) + 16px);
  z-index: 20;

  @media (--max-md) {
    top: calc(var(--sticky-header-height) + 8px);
  }
}

.filterCount {
  width: 16px;
  height: 16px;
  background: var(--primary);
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.filterIcon {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}
