.wrap {
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
  padding-top: 27px;
}

.crumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #b6b6b6;
  line-height: 1.2;
  margin-bottom: 4px;
}

.crumb {
  display: inline-block;
  margin-right: 16px;
  padding-left: 24px;
  position: relative;
}

.crumb::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6px' height='6px'%3E%3Cpath fill-rule='evenodd' fill='%23b6b6b6' d='M-0.000,1.998 L3.000,1.998 L2.000,0.997 L3.000,-0.001 L6.000,2.935 L3.000,5.997 L2.000,4.998 L3.000,3.998 L-0.000,3.998 L-0.000,1.998 Z'/%3E%3C/svg%3E");
  left: 0;
  top: 50%;
  margin-top: -3px;
}

.crumb:first-child {
  padding-left: 0;
}

.crumb:first-child::before {
  display: none;
}

a.crumb {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.title {
  font-size: 36px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: var(--font-sans-narrow);
}

.titleBox {
  display: flex;
  gap: 60px;
}

.description {
  font-size: 14px;
  color: rgb(172, 172, 188);
  line-height: 1.2;
}
