.items {
  padding: 0;
  margin: 0;
}

.item + .item {
  margin-top: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  color: #9431e8;
  &:hover {
    color: #a90083;
  }
}

.gray {
  color: #cbcbcb;
  &:hover {
    color: #000;
  }
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.text {

}
