.env
/frontend/.env
/api/.env
/.idea
/.vscode
/.env
/.env.local
/.devcontainer
/core/vendor
/docker/.env
/docker/log
/docker/db
/docker/mariadb
/docker/shadow
/docker/shadowdb
/docker/typesense
/docker-compose.override.yml
/api/dist
/frontend/node_modules
/frontend/.next
/frontend/.eslintcache
/frontend/.stylelintcache
/frontend/.output
/ckeditor5/node_modules
/tmp
/upload
