/.idea
/.vscode
/.env
/.env.local
/.devcontainer
/core/vendor
/docker/.env
/docker/log
/docker/mariadb
/docker-compose.override.yml
/api/dist
/frontend/node_modules
/frontend/.next
/frontend/.eslintcache
/frontend/.stylelintcache
/frontend/.output
/frontend/ckeditor5
/tmp
/upload
