version: '3.9'
services:

  db:
    restart: no
    ports:
      - ${MARIADB_PORT:-3333}:3306

  nginx:
    restart: no

  api:
    restart: no
    command: sh -c 'rm -rf /tmp/* && npm i && npm run start:dev'

  frontend:
    restart: no
    command: sh -c 'rm -rf /tmp/* && npm i && npm run dev'
