services:

  db:
    restart: no

  phpmyadmin:
    image: phpmyadmin
    restart: unless-stopped
    ports:
      - ${PHPMYADMIN_PORT:-10003}:80
    environment:
      - PMA_ARBITRARY=1
      - TZ=${TZ:-Europe/Moscow}
      - UPLOAD_LIMIT=300M
    depends_on:
      - db

  nginx:
    restart: no

  api:
    restart: no
    command: sh -c 'npm i && npm run start:dev'

  frontend:
    restart: no
    command: sh -c 'npm i && npm run dev'
