.root {
}

.title {
  font-size: 16px;
  font-family: var(--font-sans-narrow);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  padding: 10px 0;

  @include --max-md {
    font-weight: 500;
    letter-spacing: -0.05em;
  }
}

.icons {
  display: flex;
  margin: 7px 0 12px 0;
  
  @include --max-md {
    margin: 2px 0 20px 0;
  }
}

.description {
  font-size: 16px;
  line-height: 22px;
  color: #9b9b9b;
  max-width: 380px;

  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: #fff;
    }
  }

  @include --max-2xl {
    font-size: 14px;
    line-height: 16px;
    max-width: 340px;
  }
}
