.root {
  display: grid;
  grid-template-columns: 32% 1fr 25%;
  gap: 24px;
}

.group {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 32px 44px;
}

.group::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 25px;
  pointer-events: none;
  // background-image: linear-gradient(90deg, #dbf5ff 0%, #eefaff 100%);
  background-image: linear-gradient(90deg, #bfe1ff 0%, #e1f1ff 33.33%, #dbf5ff 66.66%, #eefaff 100%);
  background-size: 300% 100%;
  background-position: 100% 0;
  transition: .5s ease;
}

.group:hover::before {
  box-shadow: 0 0 8px rgba(0, 11, 56, 0.07);
  // background-image: linear-gradient(90deg, #bfe1ff 0%, #e1f1ff 100%);
  // background-image: linear-gradient(90deg, #bfe1ff 0%, #e1f1ff 100%);
  background-position: 0 0;
  transform: scale(1.025);
}

.groupWeapon {
  grid-column: 1 / 2;
  grid-row-end: span 35;
}

.groupMailingPlants {
  grid-column: 2 / 3;
  grid-row-end: span 20;
}

.groupTubes {
  grid-column: 3 / 4;
  grid-row-end: span 14;
}

.groupFlippers {
  grid-column: 2 / 3;
  grid-row-end: span 11;
}

.groupCylins {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupMasks {
  grid-column: 3 / 4;
  grid-row-end: span 9;
}

.groupGloves {
  grid-column: 3 / 4;
  grid-row-end: span 9;
}

.groupSocks {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupLights {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupRegulatorsAndOctopuses {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupPhotoAndVideo {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupChemistry {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupDevicesAndComputers {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupUnloadingVests {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupBots {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupCompensators {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupNeopreneAccessories {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupCargoAndCargoSystems {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupBagsCoversBoxes {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupBeltsAndBuckles {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}

.groupBuoysTugboatsRafts {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: none;
}


.title {
  font-size: 24px;
  color: #001624;
  font-weight: 700;
  margin-bottom: 16px;
  text-decoration: none;
  display: block;
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.image {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.list {
  line-height: 1;
  font-size: 16px;
}

.list li + li {
  margin-top: 12px;
}

.list li a {
  text-decoration: underline;
  color: #000000;
  display: inline-block;
  position: relative;
  z-index: 30;

  &:hover {
    color: #a90083;
  }
}
