.root {
  background-image: linear-gradient(90deg, #a7b4bd 0%, #d3dbdf 100%);
  padding: 22px 0 80px;
  overflow: hidden;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-family: var(--font-sans-alt);
  padding-top: 4px;
}

.nav {
  display: flex;
  gap: 12px;
}

.prev,
.next {
  display: block;
  width: 46px;
  height: 46px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  color: #616161;
  background-color: rgba(255, 255, 255, 0.502);
  box-shadow: 0px 0px 9px 0px rgba(0, 25, 41, 0.08);

  &[disabled] {
    color: #bbb;
    cursor: default;
  }

  &:not([disabled]):hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.702);
    box-shadow: 1.113px 7.922px 9px 0px rgba(0, 25, 41, 0.15);
    &::before,
    &::before {
      width: 18px;
    }
    &.prev::after {
      margin-left: -6px;
    }
    &.next::after {
      margin-left: 6px;
    }
  }
}

.prev::before,
.next::before {
  content: '';
  height: 2px;
  width: 8px;
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.prev::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  margin-left: -1px;
  transition: .3s ease;
}

.next::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  margin-left: 1px;
  transition: .3s ease;
}

.slider {
  --slide-spacing: 20px;
  --slide-size: 20%;

  @include --max-2xl {
    --slide-size: 25%;
  }
  @include --max-xl {
    --slide-size: 33.33%;
  }
  @include --max-lg {
    --slide-size: 320px;
  }
  @include --max-md {
    --slide-size: 50%;
  }
}

.viewport {
}

.container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
  display: flex;
}
