.items {
}

.item {
  display: flex;
  align-items: center;
}

.item + .item {
  margin-top: 20px;
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;

  svg {
    fill: rgb(169, 0, 131);
  }
}

.content {
  flex-grow: 1;
}

.title {
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 1.2;
}

.text {
  font-size: 12px;
  color: rgb(158, 158, 158);
  line-height: 1.2;
  margin-top: 4px;
}

.action {
  font-size: 12px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 1;
  align-self: flex-start;
  margin: 8px 0;
}

a.action {
  color: rgb(169, 0, 131);
  text-decoration: underline;
}
