.brand {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--sans-narrow);
  color: #b2b2b2;
}

.title {
  font-size: 36px;
  font-family: var(--font-sans-narrow);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
  font-weight: bold;
  id-template-rows: [gellery-start] auto [gellery-end] 80px [warranty-start] auto [warranty-end] 30px [content-start] auto [content-end];

  @include --max-xl {
    font-size: 32px;
  }
}

.sku {
  font-size: 12px;
  color: rgb(172, 172, 188);
  line-height: 1.2;
  margin-top: 8px;
}

.prices {
}

.discount {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // background: #e50001;
  background: linear-gradient( 63deg, #d20001 100%, #fb0001 100%);
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;

  @include --max-md {
    font-size: 10px;
    width: 30px;
    height: 30px;
  }
}


.oldPrice {
  font-size: 16px;
  color: rgb(156, 156, 156);
  text-decoration: line-through;
  line-height: 1.2;
  margin-bottom: 8px;
}

.realPrice {
  font-size: 30px;
  color: rgb(182, 53, 157);
  font-weight: bold;
  line-height: 1.2;
}

.layout {
  display: grid;
  grid-template-columns: [left-start] 60fr [left-end] 80px [right-start] 40fr [right-end];
  grid-template-rows: [gellery-start] auto [gellery-end] 80px [warranty-start] auto [warranty-end] 30px [content-start] auto [content-end];

  @include --max-xl {
    grid-template-columns: [left-start] 60fr [left-end] 54px [right-start] 40fr [right-end];
  }
}

.layoutGallery {
  grid-row: gellery-start / gellery-end;
  grid-column: left-start / left-end;
}

.layoutInfo {
  grid-row: gellery-start / content-end;
  grid-column: right-start / right-end;
}

.layoutWarranty {
  grid-row: warranty-start / warranty-end;
  grid-column: left-start / left-end;
}

.layoutContent {
  grid-row: content-start / content-end;
  grid-column: left-start / left-end;
}
