.wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.action {
  width: 32px;
  height: 32px;
  position: relative;

  @include --max-md {
    width: 24px;
    height: 24px;
  }
}

.action::before {
  content: '';
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.702);
  box-shadow: 0.278px 1.981px 7px 0px rgba(0, 6, 41, 0.15);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0.8);
  margin-left: -18px;
  margin-top: -18px;
  opacity: 0;
  transition: 0.3s ease;
  width: 36px;
  height: 36px;

  @include --max-md {
    width: 28px;
    height: 28px;
    margin-left: -14px;
    margin-top: -14px;
  }
}

.action:hover::before {
  transform: scale(1);
  opacity: 1;
}

.action::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  opacity: 0.6;

  @include --max-md {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
  }
}

.action:hover::after {
  opacity: 1;
}

.action-favorite::after {
  background-image: var(--icon-favorite-gray);
}

.action-compare::after {
  background-image: var(--icon-compare-gray);
}
