@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --icon-favorite-gray: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28px" height="26px"><path fill-rule="evenodd"  stroke-width="2px" stroke="rgb(142, 142, 142)" fill-opacity="0" fill="rgb(178, 178, 178)" d="M18.985,3.992 C16.432,3.992 14.328,5.862 14.023,8.277 L13.952,8.277 C13.646,5.862 11.542,3.992 8.989,3.992 C6.227,3.992 3.987,6.182 3.987,8.884 C3.987,9.361 4.057,9.821 4.188,10.258 C5.301,14.986 13.979,20.986 14.023,21.015 L14.023,21.016 L14.023,21.016 L14.024,21.016 L14.023,21.016 C14.036,21.007 24.099,14.059 23.975,9.216 C23.983,9.106 23.987,8.995 23.987,8.884 C23.987,6.182 21.747,3.992 18.985,3.992 Z"/></svg>');
    --icon-compare-gray: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="17px"><path fill-rule="evenodd"  fill="rgb(142, 142, 142)" d="M18.1000,2.1000 L9.1000,2.1000 C9.448,2.1000 8.1000,2.552 8.1000,1.1000 C8.1000,1.447 9.448,0.1000 9.1000,0.1000 L18.1000,0.1000 C19.552,0.1000 19.1000,1.447 19.1000,1.1000 C19.1000,2.552 19.552,2.1000 18.1000,2.1000 ZM4.1000,16.1000 L1.1000,16.1000 C0.895,16.1000 -0.000,16.104 -0.000,14.1000 L-0.000,11.1000 C-0.000,10.895 0.895,9.1000 1.1000,9.1000 L4.1000,9.1000 C6.104,9.1000 6.1000,10.895 6.1000,11.1000 L6.1000,14.1000 C6.1000,16.104 6.104,16.1000 4.1000,16.1000 ZM3.500,11.1000 C2.671,11.1000 1.1000,12.671 1.1000,13.500 C1.1000,14.328 2.671,14.1000 3.500,14.1000 C4.328,14.1000 4.1000,14.328 4.1000,13.500 C4.1000,12.671 4.328,11.1000 3.500,11.1000 ZM4.1000,6.1000 L1.1000,6.1000 C0.895,6.1000 -0.000,6.104 -0.000,4.1000 L-0.000,1.1000 C-0.000,0.895 0.895,-0.000 1.1000,-0.000 L4.1000,-0.000 C6.104,-0.000 6.1000,0.895 6.1000,1.1000 L6.1000,4.1000 C6.1000,6.104 6.104,6.1000 4.1000,6.1000 ZM3.500,1.1000 C2.671,1.1000 1.1000,2.671 1.1000,3.500 C1.1000,4.328 2.671,4.1000 3.500,4.1000 C4.328,4.1000 4.1000,4.328 4.1000,3.500 C4.1000,2.671 4.328,1.1000 3.500,1.1000 ZM9.1000,4.1000 L13.1000,4.1000 C14.552,4.1000 14.1000,5.447 14.1000,5.1000 C14.1000,6.552 14.552,6.1000 13.1000,6.1000 L9.1000,6.1000 C9.448,6.1000 8.1000,6.552 8.1000,5.1000 C8.1000,5.447 9.448,4.1000 9.1000,4.1000 ZM9.1000,10.1000 L18.1000,10.1000 C19.552,10.1000 19.1000,11.448 19.1000,11.1000 C19.1000,12.552 19.552,12.1000 18.1000,12.1000 L9.1000,12.1000 C9.448,12.1000 8.1000,12.552 8.1000,11.1000 C8.1000,11.448 9.448,10.1000 9.1000,10.1000 ZM9.1000,14.1000 L13.1000,14.1000 C14.552,14.1000 14.1000,15.448 14.1000,15.1000 C14.1000,16.552 14.552,16.1000 13.1000,16.1000 L9.1000,16.1000 C9.448,16.1000 8.1000,16.552 8.1000,15.1000 C8.1000,15.448 9.448,14.1000 9.1000,14.1000 Z"/></svg>');
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.sale {
  background-image: linear-gradient(45deg, #fc1709 0%, rgb(244, 167, 132) 100%);
  width: 42px;
  height: 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2px 2px 0px;
}

.sale::before {
  content: '';
  display: block;
  width: 27px;
  height: 16px;
  background: url('/text-sale.png') no-repeat 50% 50%;
  opacity: 0.8;
}

.sale:hover {
  background-image: linear-gradient(45deg, rgb(203, 0, 0) 0%, #fc1204 53%, rgb(244, 167, 132) 100%);
}

.sale:hover::before {
  opacity: 1;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: calc(12px / 2);
  border: 3px solid #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ced2dc;
  border-radius: calc(12px / 2);
  border: 3px solid #fff;
}
