$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
$breakpoint-3xl: 1792px;

@mixin min-sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin min-xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin min-2xl {
  @media (min-width: $breakpoint-2xl) {
    @content;
  }
}

@mixin min-3xl {
  @media (min-width: $breakpoint-3xl) {
    @content;
  }
}

@mixin max-sm {
  @media not all and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin max-md {
  @media not all and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin max-lg {
  @media not all and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin max-xl {
  @media not all and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin max-2xl {
  @media not all and (min-width: $breakpoint-2xl) {
    @content;
  }
}

@mixin max-3xl {
  @media not all and (min-width: $breakpoint-3xl) {
    @content;
  }
}
