.scrollable {
  /* тулбар - шапка - отступ колонки сверху - отступ колонки снизу - высота заголовка - высота маркера - отступ от заголовка - отступ от маркера */
  height: calc(100vh - 32px - 90px - 48px - 48px - 84px - 42px - 24px - 24px);
  min-height: 320px;
  overflow: auto;
}

.alert {
}

.alert + .scrollable {
  /* тулбар - шапка - отступ колонки сверху - отступ колонки снизу - высота заголовка - высота маркера - отступ от заголовка - отступ от маркера - размер алерта */
  height: calc(100vh - 32px - 90px - 48px - 48px - 84px - 42px - 24px - 24px - 90px);
}
