.wrap {
  border: 1px solid transparent;
  padding: 16px 8px;
  border-bottom-color: #e3e3e3;
  text-wrap: balance;
}

.wrap:hover {
  border-color: #c1adff;
}

.wrapOpened {
  border-color: #c1adff;
  background: hsl(254.63deg 100% 83.92% / 5%);
}

.headline {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (--max-lg) {
    gap: 8px;
  }
}

.icon {
  display: flex;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  margin: 4px 0;
  align-self: flex-start;

  @media (--max-lg) {
    width: 24px;
    height: 24px;
    margin: 2px 0;
  }
}

.title {
  font-size: 16px;
  line-height: 1.25;
  color: #222222;
  font-weight: 700;
  font-family: var(--font-sans-narrow);
}

.description {
  font-size: 14px;
  color: #6a6a6a;
  line-height: 1.25;
  margin-top: 12px;
}

.timetable {
  font-size: 14px;
  line-height: 1.25;
  color: #222222;
  margin-top: 16px;
}

.labels {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 24px;
  max-width: 360px;
}

.label {
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}

.label::before {
  content: '';
  border-left: 2px solid #5965fe;
  border-bottom: 2px solid #5965fe;
  width: 12px;
  height: 8px;
  transform: rotate(-45deg);
  display: block;
}
