.control {
}

.caption {
  font-size: 12px;
  color: rgb(158, 158, 158);
  line-height: 1.2;
  margin-bottom: 8px;
  display: block;
}

.values {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.value {
  font-size: 14px;
  color: rgb(34, 34, 34);
  line-height: 34px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  padding: 0 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(227, 227, 227);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  user-select: none;
}

.value:hover {
  background-color: #f6f8fe;
  border-color: #cb7eba;
}

.value.active {
  color: rgb(255, 255, 255);
  background-color: #a90083;
  border-color: #a90083;
}
