.title {
  line-height: 1;
  margin-bottom: 20px;
  color: hsl(var(--foreground));
  font-size: 24px;
}

.desc {
  line-height: 1.5;
  font-size: 16px;
  color: hsl(var(--foreground));
}

.submit {
  margin-top: 20px;
}
