.wrapper {
  background: linear-gradient(to right, #262f3d 0%, #262f3d 50%, transparent 50%, transparent 100%), linear-gradient(to bottom, #fafafa 0, #fafafa 64px, transparent 64px, transparent 100%);
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 280px;
  box-shadow: 6px 0 7px 0px rgba(0, 8, 35, 0.19);
  padding: 0 24px;
  z-index: 2;
  position: relative;
  flex-shrink: 0;
  background: #262f3d;

  @include --max-lg {
    display: none;
  }
}

.body {
  flex-grow: 1;
  background: #fff;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 24px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 12px;
  margin-bottom: 32px;
}

