.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 1.2;
}

.control {
  display: flex;
}
