.box {
}

.headline {
  display: flex;
  align-items: center;
  height: 48px;
  cursor: pointer;
  position: relative;
  padding-right: 24px;
}

.headline::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-right: 2px solid rgb(34, 34, 34);
  border-bottom: 2px solid rgb(34, 34, 34);
  transform: rotate(45deg);
  transition: .3s ease;
}

.boxOpened .headline::after {
  transform: rotate(-135deg);
}

.title {
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 1.2;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.input {
  position: absolute;
  visibility: hidden;
}

.checkbox {
  display: block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border: 1px solid var(--neutral300);
  border-radius: 2px;
  position: relative;
}

.input:checked + .checkbox::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 10px;
  height: 6px;
  margin-top: -2px;
  border-bottom: 2px solid hsl(var(--primary));
  border-left: 2px solid hsl(var(--primary));
}

.amount {
  color: var(--neutral300);
}

.body {
  overflow: hidden;
  transition: .3s ease;
}

.content {
  border-top: 1px solid var(--neutral200);
  border-bottom: 1px solid var(--neutral200);
  padding-bottom: 12px;
  padding-top: 12px;
}

.reset {
  font-size: 14px;
  color: rgb(172, 172, 188);
  line-height: 1.2;
  margin-top: 12px;
  display: inline-block;
}

.reset:hover {
  color: #000;
}

.color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}
