.wrap {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  padding: 12px 24px;
  transition: 0.3s ease;

  @include --max-xl {
    padding: 12px 16px;
    gap: 16px;
  }
}

label.wrap {
  cursor: pointer;
}

label.wrap:hover {
  background: var(--neutral50);
}

.label {
  font-size: 16px;
  line-height: 1.15;
  font-weight: bold;
  color: #000;
  font-family: var(--font-sans-narrow);

  @include --max-lg {
    font-size: 14px;
    line-height: 18px;
  }
}

.control {
  display: flex;
}
