.wrap {
  border-width: 1px;
  border-radius: 12px;
  padding: 32px 24px;

  @include --max-xl {
    padding: 24px 16px;
  }
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 20px;

  @include --max-lg {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.prices {
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price + .price {
  margin-top: 8px;

  @include --max-lg {
    margin-top: 4px;
  }
}

.priceLabel {
  font-size: 14px;
  line-height: 1;
  color: #3a3a3a;

  @include --max-lg {
    font-size: 12px;
  }
}

.priceValue {
  font-size: 16px;
  font-weight: bold;
  color: #000;

  @include --max-lg {
    font-size: 14px;
  }
}

.priceValueNegative {
  font-size: 14px;
  color: #ff0001;

  @include --max-lg {
    font-size: 12px;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  @include --max-lg {
    margin-top: 16px;
  }
}

.totalLabel {
  font-size: 18px;
  line-height: 1;
  color: #3a3a3a;
  font-weight: bold;

  @include --max-lg {
    font-size: 16px;
  }
}

.totalValue {
  font-size: 16px;
  line-height: 1;
  color: #b6359d;
  font-weight: bold;

  @include --max-lg {
    font-size: 14px;
  }
}
