.wrap {
  background: #f7fbff;
  border-radius: 12px;
  padding: 24px;
  transition: 0.3s ease;

  @include --max-xl {
    padding: 16px;
  }
}

label.wrap {
  display: block;
  cursor: pointer;
}

label.wrap:hover {
  background: var(--blue50);
}

.desc {
  font-size: 14px;
  line-height: 16px;
  color: #3a3a3a;
  display: block;
}

.apply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  @include --max-lg {
    margin-top: 16px;
  }
}

.applyLabel {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-weight: bold;
  font-family: var(--font-sans-narrow);

  @include --max-lg {
    font-size: 14px;
    line-height: 16px;
  }
}

.applyControl {
  display: flex;
}
