.layout {
  display: grid;
  gap: 0px 0px;
  grid-auto-columns: 1fr;
  grid-template-columns: 120px 40px 1fr 40px min-content 20px min-content 40px minmax(80px, auto);
  grid-template-rows: auto 20px auto;
  grid-template-areas:
    'image . name . actions . quantity . price'
    'image . . . . . . . .'
    'image . options options options options options options options';

  @include --max-xl {
    grid-template-columns: 80px 16px 1fr 12px min-content 12px min-content 12px minmax(80px, auto);
  }
  @include --max-lg {
    grid-template-columns: 64px 16px 1fr 12px minmax(80px, auto);
    grid-template-rows: auto 20px auto 20px auto;
    grid-template-areas:
      'image . name . price'
      'image . . . .'
      'image . options options options'
      'image . . . .'
      'image . quantity . actions';
  }
  @include --max-md {
    grid-template-columns: 64px 12px 1fr 16px min-content;
    grid-template-rows: auto 32px auto 24px auto 8px auto;
    gap: 0px 0px;
    grid-template-areas:
      'image . name name name'
      'image . . . .'
      'image . options options options'
      'image . . . .'
      'image . price price price'
      'image . . . .'
      'image . quantity . actions';
  }
}

.layoutImage {
  grid-area: image;
}

.layoutInfo {
  grid-area: name;
}

.layoutActions {
  grid-area: actions;

  @include --max-lg {
    justify-content: flex-end;
    display: flex;
  }
}

.layoutQuantity {
  grid-area: quantity;
}

.layoutPrice {
  grid-area: price;
}

.layouOptions {
  grid-area: options;
}

.wrap + .wrap {
  padding-top: 40px;
  margin-top: 40px;
  border-top: 1px solid #f3f3f3;

  @include --max-xl {
    padding-top: 32px;
    margin-top: 32px;
  }
}

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3e3e3;
  width: 100%;
  aspect-ratio: 1;
  padding: 4px;
}

.image {
  width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
}

.discount {
  font-family: var(--font-sans-narrow);
  color: #fff;
  font-size: 10px;
  padding: 0 4px;
  line-height: 16px;
  background: #ff0001;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 10px;

  @include --max-md {
    margin-bottom: 2px;
  }
}

.title {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  font-family: var(--font-sans-narrow);
  line-height: 1.15;
}

.sku {
  font-size: 11px;
  color: #acacbc;
  line-height: 1;
  margin-top: 8px;
}

.actions {
  display: flex;
}

.action {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bebebe;
  flex-shrink: 0;

  svg {
    fill: currentColor;
  }

  &:hover {
    background: var(--neutral100);
  }
}

.quantity {
  display: flex;
}

.quantityMinus,
.quantityPlus {
  width: 32px;
  height: 32px;
  background: #f4f4f4;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  &:hover {
    background: #f0f0f0;
  }
}

.quantityMinus::before {
  content: '';
  width: 10px;
  height: 2px;
  background: #9c9c9c;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1px;
  margin-left: -5px;
}

.quantityPlus::before {
  content: '';
  width: 10px;
  height: 2px;
  background: #9c9c9c;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1px;
  margin-left: -5px;
}

.quantityPlus::after {
  content: '';
  width: 2px;
  height: 10px;
  background: #9c9c9c;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -1px;
}

.quantityInput {
  width: 48px;
  height: 32px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  background: transparent;
  flex-shrink: 0;

  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.prices {
  text-align: right;

  @include --max-md {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #b6359d;
  line-height: 32px;
  font-family: var(--font-sans-wide);
}

.oldPrice {
  font-size: 12px;
  line-height: 1;
  text-decoration: line-through;
  color: #9c9c9c;
  font-family: var(--font-sans-wide);
}

.profit {
  font-size: 11px;
  line-height: 1;
  color: #acacbc;
  margin-top: 11px;

  @include --max-md {
    display: none;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 12px;

  @include --max-lg {
    column-gap: 24px;
    row-gap: 5px;
  }
}

.option {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.option::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  width: 1px;
  height: 12px;
  margin-top: -6px;
  background: #d2d2d2;

  @include --max-lg {
    left: calc(100% + 12px);
  }
}

.option:last-child::after {
  display: none;
}

.optionLabel {
  font-size: 12px;
  color: #9e9e9e;
  line-height: 1;
}

.optionColor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
}

.optionValue {
  font-size: 12px;
  line-height: 1;
  color: #343434;
  font-weight: bold;
}
