.footer {
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 50%;

  @include --max-xl {
    max-width: 100%;
  }
  @include --max-md {
    flex-wrap: wrap;
  }
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  flex-grow: 1;
}

.share {
  display: flex;
  align-items: center;
  gap: 32px;

  @include --max-md {
    width: 100%;
    justify-content: space-between;
  }
}

.shareTitle {
  font-size: 16px;
  text-transform: uppercase;
  color: #919191;
  font-weight: bold;
  font-family: var(--font-sans-narrow);
}
