.meta {
  display: flex;
  align-items: center;
  gap: 36px;
  border-bottom-width: 1px;
  padding: 4px 0;
  min-height: 68px;
  justify-content: space-between;

  @include --max-md {
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0;
  }
}

.share {
  @include --max-md {
    display: none;
  }
}

.time {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 4px;
  font-size: 14px;
  font-weight: bold;
  color: var(--neutral300);
  font-family: var(--font-sans-narrow);
  line-height: 1;

  @include --max-md {
    font-size: 12px;
  }
}

.time :global(svg) {
  width: 1.7em;
  height: 1.7em;
  margin-top: -0.1em;
}

.date {
  font-size: 14px;
  color: #afafaf;
  line-height: 1;

  @include --max-md {
    font-size: 12px;
  }
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  flex-grow: 1;

  @include --max-md {
    order: 1;
    width: 100%;
  }
}
