.wrapper {
  margin-bottom: 48px;
  margin-top: 160px;
}

.grid {
  display: grid;
  gap: 48px;
  grid-template-columns: 1fr 1fr;

  @include --max-xl {
    gap: 36px;
  }
  @include --max-lg {
    gap: 24px;
  }
  @include --max-md {
    gap: 16px;
  }
}

.title {
  font-size: 36px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 64px;
}

.content {
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.2;

  h2 {
    font-size: 28px;
    font-weight: bold;
  }
  * + h2 {
    margin-top: 24px;

    @include --max-lg {
      margin-top: 16px;
    }
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  * + h3 {
    margin-top: 24px;

    @include --max-lg {
      margin-top: 16px;
    }
  }
  h4 {
    font-size: 22px;
    font-weight: bold;
  }
  * + h4 {
    margin-top: 24px;

    @include --max-lg {
      margin-top: 16px;
    }
  }
  p {
    margin: 0;
  }
  * + p {
    margin-top: 24px;

    @include --max-lg {
      margin-top: 16px;
    }
  }
  ul {
    margin: 12px 0 36px;
    padding: 0;
    list-style: none;
    li {
      padding-left: 60px;
      position: relative;
      margin-top: 2px;
      &::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #00cdff;
        position: absolute;
        top: 2px;
        left: 34px;
      }
    }
    @include --max-xl {
      li {
        &::before {
          top: 4px;
        }
      }
    }
    @include --max-lg {
      margin-bottom: 16px;
      li {
        padding-left: 20px;
        &::before {
          left: 2px;
        }
      }
    }
    @include --max-md {
      margin-bottom: 32px;
      li {
        padding-left: 36px;
        margin-top: 12px;
        &::before {
          content: '';
          width: 8px;
          height: 8px;
          top: 4px;
          left: 12px;
        }
      }
    }
  }
  * + ul {
    margin-top: 24px;

    @include --max-lg {
      margin-top: 16px;
    }
  }
}

.questions {
  margin-top: 57px;
  
  @include --max-md {
    margin-top: 50px;
  }
}

.questionsTitle {
  text-align: center;
  font-size: 30px;
  line-height: 1;
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 22px;

  @include --max-md {
    font-size: 16px;
    text-align: left;
    margin-bottom: 12px;
  }
}

.questionsContent {
  text-align: center;
  font-size: 18px;
  line-height: 1.25;
  a {
    background: #4957fe;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 0 2px;
    &:hover {
      background: #a300a9;
    }
  }

  @include --max-md {
    font-size: 14px;
    text-align: left;
  }
}
