.block {
  margin-bottom: 48px;
  margin-top: 160px;
}

.grid {
  background: url('./assets/divemaster.png') no-repeat 50% 50%;
  display: grid;
  gap: 48px;
  grid-template-columns: 1fr 1fr;

  @include --max-xl {
    gap: 36px;
  }
  @include --max-lg {
    gap: 24px;
  }
  @include --max-md {
    gap: 16px;
  }
}

.title {
  font-size: 36px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 64px;
}
