.content {
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.2;

  h2 {
    font-size: calc(28em / 18);
    font-weight: bold;
  }
  * + h2 {
    margin-top: calc(24em / 28);

    /* @include --max-lg {
      margin-top: 16px;
    } */
  }
  h3 {
    font-size: calc(24em / 18);
    font-weight: bold;
  }
  * + h3 {
    margin-top: calc(24em / 24);

    /* @include --max-lg {
      margin-top: 16px;
    } */
  }
  h4 {
    font-size: calc(22em / 18);
    font-weight: bold;
  }
  * + h4 {
    margin-top: calc(24em / 24);

    /* @include --max-lg {
      margin-top: 16px;
    } */
  }
  p {
    margin: 0;
  }
  * + p {
    margin-top: calc(24em / 18);

    /* @include --max-lg {
      margin-top: 16px;
    } */
  }
  ul {
    margin: calc(12em / 18) 0 calc(36em / 18);
    padding: 0;
    list-style: none;
    li {
      padding-left: calc(60em / 18);
      position: relative;
      margin-top: 2px;
      &::before {
        content: '';
        width: calc(10em / 18);
        height: calc(10em / 18);
        border-radius: 50%;
        background: #00cdff;
        position: absolute;
        top: calc(2em / 18);
        left: calc(34em / 18);
      }
    }
    @include --max-xl {
      li {
        &::before {
          top: calc(4em / 18);
        }
      }
    }
    /* @include --max-lg {
      margin-bottom: 16px;
      li {
        padding-left: 20px;
        &::before {
          left: 2px;
        }
      }
    } */
    /* @include --max-md {
      margin-bottom: 32px;
      li {
        padding-left: 36px;
        margin-top: 12px;
        &::before {
          content: '';
          width: 8px;
          height: 8px;
          top: 4px;
          left: 12px;
        }
      }
    } */
  }
  * + ul {
    margin-top: calc(24em / 18);

    /* @include --max-lg {
      margin-top: 16px;
    } */
  }

  @include --max-lg {
    font-size: 16px;
  }
  @include --max-md {
    font-size: 14px;
  }
}
