.s {
  position: absolute;
  bottom: -30px;
  right: 64px;
  z-index: 1;
  pointer-events: none;
  user-select: none;

  @media (--max-md) {
    width: calc(98px * 0.4);
    height: calc(385px * 0.4);
    bottom: -20px;
    right: 8px;
  }
}

.discount {
  border-radius: 24px;
  background-image: linear-gradient(90deg, #021e31 0%, #125f78 100%);
  padding: 44px 48px 48px;
  color: #fff;
  position: relative;

  @media (--max-xl) {
    padding: 32px 36px 32px;
  }
  @media (--max-lg) {
    padding: 24px;
  }
  @media (--max-md) {
    padding: 24px 12px;
    border-radius: 12px;
  }
}

.title {
  font-size: 24px;
  line-height: 1;
  color: inherit;
  font-weight: bold;
  margin-bottom: 32px;

  @media (--max-xl) {
    margin-bottom: 24px;
  }
  @media (--max-lg) {
    font-size: 20px;
    margin-bottom: 20px;
  }
  @media (--max-md) {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.2;
  }
}

.content {
  font-size: 18px;
  line-height: 1.2;
  color: inherit;
  p {
    margin: 0;
    * + & {
      margin-top: 24px;

      @media (--max-lg) {
        margin-top: 16px;
      }
    }
  }

  @media (--max-xl) {
    font-size: 16px;
  }
  @media (--max-lg) {
    font-size: 14px;
  }
  @media (--max-md) {
    font-size: 14px;
  }
}

.listDotAlt {
  font-size: 18px;
  margin: 22px 0;
  padding: 0;
  list-style: none;
  opacity: 0.8;
  li {
    padding-left: 36px;
    position: relative;
    margin-top: 22px;
    &::before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #00cdff;
      position: absolute;
      top: 8px;
      left: 20px;
    }
  }
  @media (--max-xl) {
    font-size: 16px;
    li {
      &::before {
        top: 6px;
      }
    }
  }
  @media (--max-lg) {
    margin: 16px 0;
    font-size: 14px;
    li {
      margin-top: 16px;
    }
  }
  @media (--max-md) {
    margin: 20px 0;
    li {
      padding-left: 24px;
      margin-top: 20px;
      &::before {
        width: 8px;
        height: 8px;
        left: 0;
      }
    }
  }
}
