.first {
  display: flex;
  align-items: center;
  position: relative;
}

.first-link {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  line-height: 42px;
  white-space: nowrap;
  padding: 0 16px;
  display: block;
  font-family: var(--font-sans-narrow);
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;

  @media (--max-lg) {
    font-size: 16px;
  }
}

.first-link::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s ease;
  border-radius: 22px;
  background: linear-gradient(53deg, rgb(73, 87, 254) 0%, rgb(123, 66, 255) 100%);
  box-shadow: 0px 0px 6.86px 0.14px rgba(0, 29, 47, 0.3);
  opacity: 0;
  transform: scale(0.95);
}

.first-item:hover .first-link,
.first-link:hover {
  color: rgba(255, 255, 255, 1);
}

.first-item:hover .first-link::before,
.first-link:hover::before {
  opacity: 1;
  transform: scale(1);
}

.first-item:has(ul) .first-link {
  padding-right: 24px;

  @media (--max-lg) {
    padding-right: 20px;
  }
}

.first-item:has(ul) .first-link::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: currentColor transparent transparent;
  border-width: 5px 4px 0;
  top: 50%;
  margin-top: -2px;
  right: 10px;

  @media (--max-lg) {
    right: 8px;
  }
}

.sale {
  margin: 9px 24px;
  display: block;

  @media (--max-xl) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.second {
  visibility: hidden;
  transition: 0.3s ease;
  border-radius: 20px;
  padding: 36px 16px 16px;
  position: absolute;
  left: 16px;
  width: var(--container-width);
  top: 100%;
  z-index: 1;
  pointer-events: none;
  display: block;
  columns: 6;
  column-gap: 0;

  @media (--max-2xl) {
    padding-top: 28px;
  }

  @media (--max-lg) {
    columns: 4;
  }
}

.second::before {
  content: '';
  left: 0;
  right: 0;
  top: 20px;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 15.36px 0.64px rgba(0, 0, 0, 0.08);

  @media (--max-2xl) {
    top: 12px;
  }
}

.second-item {
  opacity: 0;
  transition: 0.3s ease;
  display: inline-block;
  width: 100%;
}

.first-item:hover {
  .second {
    visibility: visible;
    transform: translateY(0) scaleY(1);
    pointer-events: initial;
  }
  .second::before {
    opacity: 1;
  }
  .second-item {
    opacity: 1;
  }
}

.second-link {
  display: block;
  text-decoration: none;
  color: #494949;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  display: block;
  width: 100%;

  @media (--max-lg) {
    padding: 8px 12px;
  }
}

.second-link:hover {
  background: rgba(0, 0, 0, 0.08);
  color: #000;
}
