.logo {
  grid-area: logo;
  flex-shrink: 0;
  width: 148px;
  height: 44px;
  display: flex;
  align-items: center;

  a {
    display: flex;
    position: relative;
    top: -5px;
    img {
      width: 100%;
      height: auto;
    }
  }

  @media (--max-lg) {
    width: 132px;
  }

  @media (--max-md) {
    background: #a90083;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      top: 0;
    }
  }
}

.search {
  grid-area: search;

  @media (--max-md) {
    padding: 7px 0;
  }
}

.primary-container {
  display: grid;
  grid-template-areas: 'logo . catalog . search . actions';
  grid-template-columns: auto 24px auto 50fr 50fr 10fr auto;
  padding-bottom: 18px;
  padding-top: 28px;
  transition: 0.3s ease;

  @media (--max-2xl) {
    padding-bottom: 12px;
    padding-top: 22px;
  }

  @media (--max-xl) {
    grid-template-columns: auto 24px auto 10fr 30fr 10fr auto;
  }

  @media (--max-lg) {
    grid-template-columns: auto 16px auto 16px 1fr 16px auto;
  }

  @media (--max-md) {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: -16px;
    margin-right: -16px;
    grid-template-areas: 'logo . search . menu';
    grid-template-columns: auto minmax(16px, 1fr) minmax(160px, 320px) minmax(16px, 1fr) auto;
  }
}

.catalog-button {
  grid-area: catalog;

  @media (--max-md) {
    display: none;
  }
}

.menu-button {
  grid-area: menu;
  padding: 7px;

  @media (--min-md) {
    display: none;
  }
}

.toolbar {
  grid-area: actions;
  margin-right: -5px;

  @media (--max-md) {
    margin-right: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f7f7f9;
    border-top: 1px solid #cccccc;
    padding: 7px 3px;
  }
}

.city-select {
  margin-right: -10px;
  min-width: 180px;

  @media (--max-2xl) {
    min-width: auto;
  }

  @media (--max-md) {
    margin-right: -4px;
  }

  @media (--max-sm) {
    max-width: 140px;
  }
}

.secondary-container {
  border-bottom: 1px solid transparent;
  padding: 9px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid rgba(231, 231, 235, 0.34);

  :global(body:has([data-hero-after-header]):not(:has([data-header-sticky='true']))) & {
    border-bottom-color: rgba(231, 231, 235, 0.34);
  }

  @media (--max-2xl) {
    padding: 5px 0;
  }

  @media (--max-md) {
    display: none;
  }
}

.catalog-menu {
  margin-left: -16px;
}

.desktop-contacts {
}
