.form {
  display: flex;
  position: relative;
}

.input {
  display: block;
  width: 100%;
  background: rgba(245, 245, 245, 0.8);
  min-height: 44px;
  padding: 0 64px 0 20px;
  border-radius: 22px;
  font-size: 14px;
  font-family: inherit;
  color: rgb(0, 0, 0);

  &::placeholder {
    color: rgb(155, 155, 155);
  }

  @media (--max-lg) {
    padding-left: 16px;
    padding-right: 60px;
  }
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 44px;
  border-radius: 0 22px 22px 0;
  position: absolute;
  font-size: 18px;
  color: #fff;
  right: 0;
  top: 0;
  background: linear-gradient(53deg, rgb(73, 87, 254) 0%, rgb(123, 66, 255) 100%);

  @media (--max-lg) {
    width: 44px;
    border-radius: 22px;
  }
}
.submit:hover {
  background: linear-gradient(53deg, rgb(159, 0, 169) 0%, rgb(141, 45, 250) 100%);
}

.modal {
  background: #fff;
  position: fixed;
  z-index: 300;
  left: 0;
  top: var(--offset-top, 0);
  right: 0;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  box-shadow: 0px 6px 7px 0px rgba(0, 8, 35, 0.19);

  animation-name: slideout;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.modal.opened {
  animation-name: slidein;
}

.modal-content {
  height: calc(100vh - (var(--offset-top, 0) + 0px));
  overflow: auto;
}

@keyframes slidein {
  0% {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    height: calc(100vh - (var(--offset-top, 0) + 0px));
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slideout {
  0% {
    height: calc(100vh - (var(--offset-top, 0) + 0px));
    visibility: visible;
    opacity: 1;
  }
  100% {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
}
