.button {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
  border-radius: 12px;

  @include max-lg {
    padding: 0;
  }
}

.button[data-state='open'],
.button:hover {
  box-shadow: 0px 0px 6.86px 0.14px rgba(0, 29, 47, 0.3);
  background: linear-gradient(53deg, rgb(73, 87, 254) 0%, rgb(123, 66, 255) 100%);
}
