.wrapper {
}

.breadcrumbs {
  margin-bottom: 6px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 64px;

  @include max-lg {
    gap: 32px;
  }
  @include max-md {
    flex-wrap: wrap;
    gap: 12px;
  }
}

.title {
  color: rgb(10, 10, 10);
  font-family: var(--font-sans-narrow);
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: -0.0125em;

  @include max-lg {
    font-size: 32px;
    line-height: 36px;
  }
  @include max-md {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
  }
}

.titleSingle {
  text-transform: uppercase;

  @include max-md {
    font-size: 24px;
    line-height: 32px;
  }
}

.description {
  font-size: 14px;
  color: var(--neutral400);
}

.actions {
  margin-left: auto;
}

.back {
  display: flex;
  margin-top: 20px;

  @include max-lg {
    margin-top: 16px;
  }
  @include max-md {
    margin-top: 8px;
  }
}

.backLink {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  height: 24px;
  text-transform: uppercase;
  color: #a90083;
  font-weight: bold;
  font-family: var(--font-sans-narrow);
  line-height: 1.25;

  @include max-lg {
    font-size: 12px;
  }
  @include max-md {
    font-size: 11px;
  }
}

.backLink span {
  display: inline-block;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  margin-top: 2px;

  @include max-lg {
    margin-top: 0;
  }
}

.backLink:hover span {
  border-bottom-color: currentColor;
}

.backLink::before {
  content: '';
  width: 8px;
  height: 8px;
  border-left: 2px solid currentColor;
  border-top: 2px solid currentColor;
  transform: rotate(-45deg);
  flex-shrink: 0;
}

.separator {
  display: block;
  height: 0;
  border-bottom-width: 1px;
  width: 100%;
  margin-top: 16px;
}

.back + .separator {
  margin-top: 20px;

  @include max-lg {
    margin-top: 16px;
  }
  @include max-md {
    margin-top: 8px;
  }
}
