.container {
  width: var(--container-width);
  max-width: calc(100% - calc(var(--container-padding) * 2));
  padding: 0 var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

.small {
  width: calc(var(--container-width) * 0.8);
  @include --max-2xl {
    width: var(--container-width);
  }
}
