.container {
  width: var(--container-width);
  max-width: calc(100% - calc(var(--container-padding) * 2));
  padding: 0 var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}
