.root {
  display: flex;
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;

  @include --max-2xl {
    padding-top: 120px;
    padding-bottom: 80px;
  }
  @include --max-xl {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

.content {
  flex-shrink: 0;
  width: 50%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  position: relative;
  z-index: 30;

  @include --max-xl {
    width: 60%;
  }
  @include --max-lg {
    width: 70%;
  }
}

.title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #fefefe;
  font-weight: 700;
  font-family: var(--font-montserrat);
  margin-bottom: 34px;
}

.desc {
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 14px;
}

.desc span {
  display: inline-block;
  padding: 0 8px;
  background: #21c9ed;
  color: #000;
  font-weight: 500;
}

.action {
  display: flex;
}

.button {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  height: 44px;
  padding: 0 24px;
  min-width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 22px;
  filter: drop-shadow(0 0 16px rgba(0,29,47,0.28));
  background-image: linear-gradient(37deg, #4957fd 0%, #7b41ff 33.33%, #a300a9 66.66%, #9f2df9 100%);
  background-size: 300% 100%;
  transition: .5s ease;
}

.buttonArrow {
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
}

.buttonArrow::before {
  content: '';
  width: 6px;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  transition: .5s ease;
}

.buttonArrow::after {
  content: '';
  width: 6px;
  height: 6px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(-45deg);
  position: absolute;
  left: 0;
  margin-top: -3px;
  top: 50%;
  transition: .5s ease;
}

.button:hover {
  background-position: 100% 0;
  .buttonArrow::before {
    width: 12px;
  }
  .buttonArrow::after {
    left: 6px;
  }
}

.image {
  position: absolute;
  top: -36px;
  right: -63px;
  max-width: none;
  pointer-events: none;
  z-index: 20;
  width: 1230px;
  height: 617px;

  @include --max-2xl {
    width: calc(1230px * 0.8);
    height: calc(617px * 0.8);
    top: -16px;
  }
  @include --max-xl {
    width: calc(1230px * 0.725);
    height: calc(617px * 0.725);
    right: -192px;
  }
  @include --max-lg {
    width: calc(1230px * 0.6);
    height: calc(617px * 0.6);
    right: -232px;
    top: 24px;
  }
}
