.discount {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // background: #e50001;
  background: linear-gradient(63deg, #d20001 100%, #fb0001 100%);
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;

  @include max-md {
    font-size: 10px;
    width: 30px;
    height: 30px;
    display: none;
  }
}

.prices {
  @include max-md {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after {
      content: '';
      display: block;
    }
  }
}

.oldPrice {
  font-size: 16px;
  color: rgb(156, 156, 156);
  text-decoration: line-through;
  line-height: 1.2;
  margin-bottom: 8px;

  @include max-md {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.realPrice {
  font-size: 30px;
  color: rgb(182, 53, 157);
  font-weight: bold;
  line-height: 1.2;

  @include max-md {
    font-size: 24px;
    order: -1;
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.floatMenu {
  position: fixed;
  bottom: 59px;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 30;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  box-shadow: none;
  transition: 0.3s ease;
}

.floatMenuVisible {
  transform: translateY(0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
