.wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action {
  container-type: size;
  display: flex;
  font-size: 14px;
  line-height: 1;
  height: 48px;
  border-radius: 12px;
  width: 50%;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #ffffff;
  font-family: var(--font-sans-wide);
  background: #a90083;
  position: relative;
  transition: 0.3s ease;
  z-index: 1;
  flex-grow: 1;

  svg {
    fill: currentColor;
  }

  &:hover {
    background: #9f2df9;
  }
}

.action.actionCart {
  background: linear-gradient(37deg, #a90083 0%, #a90083 25%, #a300a9 75%, #9f2df9 100%);
  background-size: 300% 100%;
  background-position: 0 0;
  transition: 1.2s ease;

  &:hover {
    transition: 0.3s ease;
    background-position: 100% 0;
  }
}

.action.actionOneClick {
  background: #fff;
  color: rgba(169, 0, 131, 0.702);
  border: 1px solid #e3e3e3;
  max-width: 160px;

  &:hover {
    background: #d37cc0;
    border-color: #d37cc0;
    color: #fff;
  }
}

.action.actionOneClick .actionInner {
  width: min-content;
}
