.item {
  display: flex;
  align-items: center;
}

.item + .item {
  margin-top: 20px;
}

.icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;

  svg {
    fill: rgb(169, 0, 131);
  }

  @include --max-lg {
    margin-right: 8px;
  }
}

.content {
  flex-grow: 1;
}

.title {
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 18px;

  @include --max-lg {
    font-size: 12px;
  }
}

.text {
  font-size: 12px;
  color: rgb(158, 158, 158);
  line-height: 1.2;
  margin-top: 4px;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action {
  font-size: 12px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 18px;
  align-self: flex-start;

  @include --max-lg {
    font-size: 11px;
  }
}

a.action {
  color: rgb(169, 0, 131);
  text-decoration: underline;
}
