.actions {
  display: flex;
  gap: 4px;
}

.action {
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--max-md) {
    width: 24px;
    height: 24px;
  }
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.702);
  box-shadow: 0px 1px 7px 0px rgba(0, 6, 41, 0.15);
}

.action::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  @media (--max-md) {
    width: 16px;
    height: 16px;
  }
}

.action-favorite::after {
  background-color: var(--color-neutral-400);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-favorite);
}

.action-favorite.action-active::after {
  background-color: var(--color-red-500);
  mask-image: var(--icon-favorite-solid);
}

.action-compare::after {
  background-color: var(--color-neutral-400);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-compare);
}

.action-compare.action-active::after {
  background-color: var(--color-yellow-500);
}
