.control {

}

.headline {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  gap: 16px;
  min-height: 20px;
}

.caption {
  font-size: 12px;
  color: rgb(158, 158, 158);
  line-height: 1.2;
  display: block;
}

.selected {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selectedColor {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 8px;
  background: linear-gradient(53deg, rgb(169, 0, 131) 0%, rgb(160, 45, 250) 100%);
}

.selectedText {
  font-size: 12px;
  color: rgb(52, 52, 52);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
}

.valuesContainer {
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  padding: 4px 0;
}

.values {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.value {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  color: rgb(158, 158, 158);
  margin: 2px 8px;
}

.value:hover {
  background: var(--neutral100);
  color: rgb(52, 52, 52);
}

.valueColor {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(53deg, rgb(169, 0, 131) 0%, rgb(160, 45, 250) 100%);
}

.valueText {
  font-size: 12px;
  line-height: 1.2;
  text-transform: lowercase;
  font-weight: 500;
}
