.brand {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--sans-narrow);
  color: #b2b2b2;

  @media (--max-md) {
    font-size: 12px;
  }
}

.sku {
  font-size: 12px;
  color: rgb(172, 172, 188);
  line-height: 1.2;
  margin-top: 8px;

  @media (--max-md) {
    font-size: 11px;
    margin-top: 6px;
  }
}

.layout {
  display: grid;
  grid-template-columns: 6fr 54px 4fr;
  grid-template-rows: auto 80px auto 30px auto;
  gap: 0px 0px;
  grid-template-areas:
    'gallery . info'
    '. . info'
    'warranty . info'
    '. . info'
    'content . info';

  @media (--max-md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 24px auto 36px auto 80px auto;
    grid-template-areas:
      'gallery'
      '.'
      'info'
      '.'
      'warranty'
      '.'
      'content';
  }
}

.layoutGallery {
  grid-area: gallery;
}

.layoutInfo {
  grid-area: info;
}

.layoutWarranty {
  grid-area: warranty;
}

.layoutContent {
  grid-area: content;
}
