.brand {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--sans-narrow);
  color: #b2b2b2;
}

.title {
  id-template-rows: [gellery-start] auto [gellery-end] 80px [warranty-start] auto [warranty-end] 30px [content-start] auto [content-end];
}


.sku {
  font-size: 12px;
  color: rgb(172, 172, 188);
  line-height: 1.2;
  margin-top: 8px;
}

.layout {
  display: grid;
  grid-template-columns: [left-start] 60fr [left-end] 80px [right-start] 40fr [right-end];
  grid-template-rows: [gellery-start] auto [gellery-end] 80px [warranty-start] auto [warranty-end] 30px [content-start] auto [content-end];

  @include --max-xl {
    grid-template-columns: [left-start] 60fr [left-end] 54px [right-start] 40fr [right-end];
  }
}

.layoutGallery {
  grid-row: gellery-start / gellery-end;
  grid-column: left-start / left-end;
}

.layoutInfo {
  grid-row: gellery-start / content-end;
  grid-column: right-start / right-end;
}

.layoutWarranty {
  grid-row: warranty-start / warranty-end;
  grid-column: left-start / left-end;
}

.layoutContent {
  grid-row: content-start / content-end;
  grid-column: left-start / left-end;
}
