.control {
}

.caption {
  font-size: 12px;
  color: rgb(158, 158, 158);
  line-height: 1.2;
  margin-bottom: 12px;
  display: block;
}

.values {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 8px;
}

.value {
  font-size: 14px;
  color: rgb(34, 34, 34);
  line-height: 42px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  padding: 0 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(227, 227, 227);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  user-select: none;
  min-width: max-content;
}

.value:hover {
  background-color: #f6f8fe;
  border-color: #cb7eba;
}

.value.active {
  color: rgb(255, 255, 255);
  background-color: #a90083;
  border-color: #a90083;
}

.color {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: block;
  flex-shrink: 0;
}
