.root {
  display: flex;
  padding-top: 260px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;

  @include --max-2xl {
  }
  @include --max-xl {
  }
  @include --max-md {
  }
}

.content {
  position: relative;
  width: 100%;
  z-index: 20;

  @include --max-xl {
  }
  @include --max-lg {
  }
  @include --max-md {
  }
}

.title {
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: #fefefe;
  font-weight: 700;
  font-family: var(--font-sans-wide);
  margin-bottom: 16px;

  @include --max-md {
  }
}

.desc {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 16px;

  @include --max-md {
  }
}

.desc span {
  display: inline-block;
  padding: 0 4px;
  background: #21c9ed;
  color: #000;
  font-weight: 500;
}

.action {
  display: flex;
}

.image {
  max-width: none;
  pointer-events: none;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include --max-2xl {
  }
  @include --max-xl {
  }
  @include --max-lg {
  }
  @include --max-md {
  }
}
