.root {
  --slide-spacing: 20px;
  --slide-size: 100%;
  position: relative;
  display: flow-root;
}

.overflow {
  overflow: hidden;
}

.viewport {
  position: relative;
}

.container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;

  @include --max-2xl {
  }
  @include --max-xl {
  }
  @include --max-md {
  }
}

.dot {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.dot::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #bcbcbc;
}

.dotSelected::before {
  background: linear-gradient(37deg, #a90083 0%, #9f2df9 100%);
}
