.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.figure {
  width: 100%;
  position: relative;
  z-index: 1;
}

.figure::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgb(255, 255, 255);
  transition: .5s ease;
  border-radius: 25px;
  transform: scale(0.95);
  opacity: 0;
}

.card:hover .figure::before {
  box-shadow: 0.469px 0.883px 20.16px 0.84px rgba(4, 0, 76, 0.08);
  transform: scale(1);
  opacity: 1;
}

.figureBox {
  border-radius: 25px;
  overflow: hidden;
  aspect-ratio: 320 / 420;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figureImage {
  width: 100%;
  height: auto;
  transition: .5s ease;
  transform-origin: 50% 100%;
}

.card:hover .figureImage {
  transform: scale(1.025);
}

.title {
  display: inline-block;
  font-size: 24px;
  color: rgb(38, 61, 75);
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  min-height: 40px;
  margin-top: 16px;
}

.title:hover {
  color: rgb(169, 0, 131);
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
