.action {
  container-type: size;
  display: flex;
  font-size: 16px;
  line-height: 1;
  height: 54px;
  width: 100%;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #ffffff;
  font-family: var(--font-sans-wide);
  background: #e5b2da;
  position: relative;
  transition: 0.3s ease;
  z-index: 1;

  &:hover {
    background: #d37cc0;
  }

  @include --max-md {
    font-size: 9px;
    height: 28px;
    gap: 2px;
  }
}

.action::after {
  content: '';
  background: var(--icon-click-white) no-repeat 50% 50%;
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
  background-size: contain;

  @include --max-md {
    width: 16px;
    height: 16px;
  }
}

.inner {
  width: min-content;
}

@container (min-width: 164px) {
  .inner {
    width: max-content;
  }
}
