.root {
  border-radius: 24px;
  background: rgb(255, 255, 255);
  border: 1px solid transparent;
  transition: 0.3s ease;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 68px;

  @media (--max-3xl) {
    padding: 16px 16px 62px;
  }
  @media (--max-xl) {
    padding: 12px 12px 58px;
  }
  @media (--max-md) {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 36px;
    border-radius: 12px;
    border-color: rgb(235, 235, 235);
  }
}

.root:has([data-state='open']),
.root:hover {
  border-color: rgb(235, 235, 235);
  box-shadow: 0px 0px 15.36px 0.64px rgba(0, 0, 0, 0.08);
}

.root:has(*:focus) {
  transition: none;
  border-color: rgb(235, 235, 235);
  box-shadow: 0px 0px 15.36px 0.64px rgba(0, 0, 0, 0.08);
}

.actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 30;
  gap: 2px;

  @media (--max-md) {
    top: 2px;
    right: 2px;
  }
}

.action {
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--max-md) {
    width: 24px;
    height: 24px;
  }
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.702);
  box-shadow: 0px 1px 7px 0px rgba(0, 6, 41, 0.15);
}

.action::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  @media (--max-md) {
    width: 16px;
    height: 16px;
  }
}

.action-favorite::after {
  background-color: var(--color-neutral-400);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-favorite);
}

.action-favorite.action-active::after {
  background-color: var(--color-red-500);
  mask-image: var(--icon-favorite-solid);
}

.action-compare::after {
  background-color: var(--color-neutral-400);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-compare);
}

.action-compare.action-active::after {
  background-color: var(--color-yellow-500);
}

.meta {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 20;
  left: 14px;
  top: 20px;
  align-items: center;
  gap: 8px;
  width: 40px;

  @media (--max-md) {
    left: 6px;
    top: 10px;
    gap: 4px;
    width: 30px;
  }
}

.hit {
  background: #f5be5f;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  text-align: center;
  height: 16px;
  width: 40px;
  transform: skewY(-15deg);

  @media (--max-md) {
    height: 12px;
    line-height: 12px;
    font-size: 10px;
    width: 30px;
  }
}

.new {
  background: #42cff5;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  text-align: center;
  height: 16px;
  width: 40px;
  transform: skewY(-15deg);

  @media (--max-md) {
    height: 12px;
    line-height: 12px;
    font-size: 10px;
    width: 30px;
  }
}

.discount {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e50001;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--max-md) {
    font-size: 10px;
    width: 30px;
    height: 30px;
  }
}

.colors {
  position: absolute;
  left: 18px;
  bottom: 18px;
  display: flex;
  gap: 10px;

  @media (--max-md) {
    gap: 4px;
    left: auto;
    right: 8px;
    bottom: 38px;
  }
}

.color {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  @media (--max-md) {
    width: 5px;
    height: 5px;
  }
}

.title {
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  font-weight: bold;
  display: block;
  margin-top: 2px;
  font-family: var(--font-sans-narrow);
  text-wrap: pretty;

  @media (--max-3xl) {
    font-size: 18px;
  }
  @media (--max-xl) {
    font-size: 16px;
  }
  @media (--max-md) {
    font-size: 12px;
  }
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.brand {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b2b2b2;
  font-weight: bold;
  margin-top: 8px;
  font-family: var(--font-sans-narrow);

  @media (--max-3xl) {
    font-size: 12px;
    margin-top: 6px;
  }
  @media (--max-xl) {
    font-size: 11px;
    margin-top: 4px;
  }
  @media (--max-md) {
    font-size: 8px;
    margin-top: 6px;
  }
}

.prices {
  display: flex;
  column-gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 20px;

  @media (--max-3xl) {
    font-size: 16px;
    line-height: 18px;
    column-gap: 16px;
  }
  @media (--max-xl) {
    font-size: 14px;
    line-height: 16px;
    column-gap: 12px;
  }
  @media (--max-md) {
    font-size: 12px;
    line-height: 1.2;
    column-gap: 8px;
  }
}

.realPrice {
  color: #b6359d;
  font-weight: 700;
  font-family: var(--font-sans-wide);
}

.oldPrice {
  text-decoration: line-through;
  color: #c0c0c0;
  font-family: var(--font-sans-wide);
}

.media {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: -20px -20px 12px;

  @media (--max-3xl) {
    margin: -16px -16px 8px;
  }
  @media (--max-3xl) {
    margin: -12px -12px 6px;
  }
  @media (--max-md) {
    margin-top: -6px;
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 4px;
  }
}

.mediaContainer {
  width: 100%;
  display: flex;
}

.mediaGallery {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  margin-left: -100%;
}

.mediaThumb {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  z-index: 10;
}

.mediaThumb::before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 125%;
}

.mediaThumbImage {
  object-fit: contain;
  z-index: 10;
}

.sizes {
  display: flex;
  gap: 12px;
  margin: 8px -8px 0;

  @media (--max-md) {
    display: none;
  }
}

.size {
  display: flex;
  position: relative;
  z-index: 30;
}

.sizeLabel {
  display: flex;
}

.sizeRadio {
  display: none;
}

.sizeTitle {
  display: block;
  min-width: 24px;
  padding: 0 8px;
  height: 24px;
  text-align: center;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-sans-wide);
  color: rgb(0, 0, 0);
  line-height: 24px;
  cursor: pointer;
}

.sizeTitle:hover {
  background: rgba(0, 0, 0, 0.08);
}

.sizeRadio:checked + .sizeTitle {
  background: #b6359d;
  color: #fff;
}

.purchaseActions {
  display: flex;
  background: #f6e5f2;
  position: absolute;
  gap: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: 0.3s ease;
  z-index: 30;
  will-change: transform;

  .root:has([data-state='open']) &,
  .root:hover & {
    transform: translateY(0);
  }

  .root:has(*:focus) & {
    transition: none;
    transform: translateY(0);
  }

  @media (--max-md) {
    transform: translateY(0);
  }
}
