.root {
  position: relative;
  --slide-height: 850px;
  --slide-spacing: 160px;
  --slide-size: calc(1600px + 160px);

  --clip-path: path('M 60.820312 -2.1796875   C 69.127005 6.0416173 75.988358 13.461398 82.130859 21.033203   C 88.885814 29.360002 95.018295 37.995453 100.31836 46.322266   C 105.61839 54.649074 110.08846 62.666909 113.93359 71.548828   C 117.77871 80.430747 120.99995 90.175767 123.75391 101.33984   C 126.50784 112.50394 128.79197 125.08729 130.03906 137.23828   C 131.28614 149.38927 131.4946 161.10694 130.87109 172.82617   C 130.24759 184.5454 128.79285 196.26449 127.07812 207.49023   C 125.36342 218.71602 123.38955 229.44919 120.16797 243.69727   C 116.94636 257.9453 112.47644 275.70788 105.51367 301.18164   C 98.550899 326.65545 89.095089 359.83969 80.521484 388.33594   C 71.947878 416.83218 64.259056 440.6398 56.205078 467.90234   C 48.151099 495.16493 39.731981 525.88074 32.613281 554.37695   C 25.494585 582.87317 19.676404 609.14981 15.779297 630.12109   C 11.88219 651.09238 9.9063713 666.75843 9.1269531 681.5   C 8.3475319 696.24157 8.7634362 710.05771 10.322266 724.24414   C 11.881095 738.43057 14.582779 752.98617 17.388672 766.49414   C 20.194569 780.00211 23.104915 792.46136 26.742188 804.98242   C 30.379459 817.50348 34.74483 830.08655 37.810547 838.66016   C 40.016104 844.8282 41.84304 848.76905 43.863281 853.22852   L 325.75586 852.96875   C 325.79174 853.0479 325.82728 853.14905 325.86328 853.22852   L 1819.1758 851.84766   C 1817.4216 847.85385 1815.6938 844.24369 1813.6973 838.66016   C 1810.6315 830.08655 1806.2642 817.50347 1802.627 804.98242   C 1798.9897 792.46137 1796.0813 780.0021 1793.2754 766.49414   C 1790.4694 752.98618 1787.7679 738.43056 1786.209 724.24414   C 1784.6502 710.05772 1784.2342 696.24156 1785.0137 681.5   C 1785.7931 666.75844 1787.767 651.09236 1791.6641 630.12109   C 1795.5612 609.14983 1801.3812 582.87314 1808.5 554.37695   C 1815.6187 525.88077 1824.036 495.16491 1832.0898 467.90234   C 1840.1437 440.63983 1847.8347 416.83215 1856.4082 388.33594   C 1864.9817 359.83972 1874.4395 326.65543 1881.4023 301.18164   C 1888.3651 275.70791 1892.8331 257.94528 1896.0547 243.69727   C 1899.2763 229.4492 1901.252 218.71601 1902.9668 207.49023   C 1904.6814 196.26451 1906.1343 184.54539 1906.7578 172.82617   C 1907.3814 161.10695 1907.1748 149.38926 1905.9277 137.23828   C 1904.6806 125.0873 1902.3924 112.50393 1899.6387 101.33984   C 1896.8847 90.175782 1893.6634 80.430738 1889.8184 71.548828   C 1885.9732 62.666918 1881.5053 54.649065 1876.2051 46.322266   C 1870.9053 37.995461 1864.7742 29.359994 1858.0195 21.033203   C 1852.0878 13.721391 1845.4231 6.5209937 1837.5098 -1.359375   L 342.82031 -2.1796875   C 342.87569 -2.1248768 342.90764 -2.0801304 342.96289 -2.0253906   L 60.820312 -2.1796875   z      M 48.345703 884.9375   L 28.242188 885.13477   L 48.748047 885.26758   L 48.345703 884.9375   z      M 28.242188 885.13477   L 2.4121094 884.9668   L 2.4140625 885.38672   L 28.242188 885.13477   z      M 330.3457 884.9375   L 310.24219 885.13477   L 330.74805 885.26758   L 330.3457 884.9375   z      M 310.24219 885.13477   L 284.41211 884.9668   L 284.41406 885.38672   L 310.24219 885.13477   z');
  --clip-path-center: path('m -32.445863,-35.589844 0.002,0.820313 29.5937498,-0.01758 C 10.966079,-24.301569 24.782241,-13.816512 36.069762,-4.5644531 47.357281,4.6876054 56.115769,12.70638 64.134215,21.033203 c 8.018445,8.326823 15.296498,16.962226 21.58789,25.289063 6.291393,8.326835 11.595818,16.344616 16.160155,25.226562 4.56435,8.881946 8.38914,18.626894 11.6582,29.791012 3.26908,11.16413 5.98255,23.74742 7.4629,35.89844 1.48033,12.15102 1.72647,23.86863 0.98632,35.58789 -0.74014,11.71926 -2.4665,23.43826 -4.50195,34.66406 -2.03545,11.22582 -4.37897,21.95893 -8.20312,36.20704 -3.82417,14.24809 -9.12941,32.01052 -17.394536,57.48437 -8.265132,25.47387 -19.490709,58.65796 -29.667969,87.1543 -10.177258,28.49633 -19.304797,52.30377 -28.865234,79.5664 -9.560437,27.26265 -19.551735,57.97831 -28.0019531,86.47461 -8.450218,28.49631 -15.3583319,54.7728 -19.9843749,75.74414 -4.626043,20.97135 -6.971279,36.63731 -7.896484,51.37891 -0.925207,14.7416 -0.430479,28.55768 1.419921,42.74414 1.850402,14.18646 5.057947,28.742 8.388672,42.25 3.3307268,13.508 6.7839548,25.96719 11.1015628,38.48828 4.3176078,12.52109 9.499527,25.10413 13.1386722,33.67774 3.639144,8.57359 5.73553,13.13753 9.986328,20.25 4.166619,6.9716 10.445857,16.44192 16.722656,25.91015 l 668.066409,-5.50586 1105.57612,6.0293 c -6.4042,-9.66051 -12.8097,-19.32115 -17.0605,-26.43359 -4.2508,-7.11247 -6.3472,-11.67642 -9.9863,-20.25 -3.6392,-8.57361 -8.8211,-21.15666 -13.1387,-33.67774 -4.3176,-12.52108 -7.7708,-24.98029 -11.1016,-38.48828 -3.3307,-13.50799 -6.5382,-28.06355 -8.3886,-42.25 -1.8504,-14.18645 -2.3432,-28.00255 -1.418,-42.74414 0.9252,-14.74159 3.2685,-30.40758 7.8945,-51.37891 4.6261,-20.97132 11.5342,-47.24786 19.9844,-75.74414 8.4502,-28.49627 18.4415,-59.21198 28.002,-86.47461 9.5602,-27.2626 18.6901,-51.0701 28.8671,-79.5664 10.1773,-28.49631 21.4029,-61.68045 29.668,-87.1543 8.2652,-25.47382 13.5684,-43.2363 17.3926,-57.48437 3.8242,-14.2481 6.1696,-24.98123 8.2051,-36.20704 2.0354,-11.22578 3.7618,-22.94481 4.5019,-34.66406 0.7402,-11.71925 0.494,-23.43688 -0.9863,-35.58789 -1.4803,-12.15101 -4.196,-24.73432 -7.4648,-35.89844 -3.2691,-11.164103 -7.092,-20.909075 -11.6563,-29.791012 -4.5643,-8.881937 -9.8688,-16.899736 -16.1602,-25.226562 -6.2912,-8.326829 -13.5696,-16.962248 -21.5878,-25.289063 -8.0185,-8.326815 -16.777,-16.3456069 -28.0645,-25.5976561 -11.2875,-9.2520499 -25.1037,-19.7371269 -38.9199,-30.2226559 l -1066.21096,0.65039 -0.0137,-1.453125 z  M 38.231871,884.82031 0.16546475,885.13477 38.569762,885.34375 c -0.126828,-0.19131 -0.21108,-0.33215 -0.337891,-0.52344 z  m -38.06640625,0.31446 -30.66210975,-0.16797 0.002,0.41992 z');
  --clip-path-left: path('m -32.445863,-35.589844 0.002,0.820313 29.5937498,-0.01758 C 10.966079,-24.301569 24.782241,-13.816512 36.069762,-4.5644531 47.357281,4.6876054 56.115769,12.70638 64.134215,21.033203 c 8.018445,8.326823 15.296498,16.962226 21.58789,25.289063 6.291393,8.326835 11.595818,16.344616 16.160155,25.226562 4.56435,8.881946 8.38914,18.626894 11.6582,29.791012 3.26908,11.16413 5.98255,23.74742 7.4629,35.89844 1.48033,12.15102 1.72647,23.86863 0.98632,35.58789 -0.74014,11.71926 -2.4665,23.43826 -4.50195,34.66406 -2.03545,11.22582 -4.37897,21.95893 -8.20312,36.20704 -3.82417,14.24809 -9.12941,32.01052 -17.394536,57.48437 -8.265132,25.47387 -19.490709,58.65796 -29.667969,87.1543 -10.177258,28.49633 -19.304797,52.30377 -28.865234,79.5664 -9.560437,27.26265 -19.551735,57.97831 -28.0019531,86.47461 -8.450218,28.49631 -15.3583319,54.7728 -19.9843749,75.74414 -4.626043,20.97135 -6.971279,36.63731 -7.896484,51.37891 -0.925207,14.7416 -0.430479,28.55768 1.419921,42.74414 1.850402,14.18646 5.057947,28.742 8.388672,42.25 3.3307268,13.508 6.7839548,25.96719 11.1015628,38.48828 4.3176078,12.52109 9.499527,25.10413 13.1386722,33.67774 3.639144,8.57359 5.73553,13.13753 9.986328,20.25 4.166619,6.9716 10.445857,16.44192 16.722656,25.91015 l 668.066409,-5.50586 1105.57612,6.0293 c -6.4042,-9.66051 -12.8097,-19.32115 -17.0605,-26.43359 -4.2508,-7.11247 -6.3472,-11.67642 -9.9863,-20.25 -3.6392,-8.57361 -8.8211,-21.15666 -13.1387,-33.67774 -4.3176,-12.52108 -7.7708,-24.98029 -11.1016,-38.48828 -3.3307,-13.50799 -6.5382,-28.06355 -8.3886,-42.25 -1.8504,-14.18645 -2.3432,-28.00255 -1.418,-42.74414 0.9252,-14.74159 3.2685,-30.40758 7.8945,-51.37891 4.6261,-20.97132 11.5342,-47.24786 19.9844,-75.74414 8.4502,-28.49627 18.4415,-59.21198 28.002,-86.47461 9.5602,-27.2626 18.6901,-51.0701 28.8671,-79.5664 10.1773,-28.49631 21.4029,-61.68045 29.668,-87.1543 8.2652,-25.47382 13.5684,-43.2363 17.3926,-57.48437 3.8242,-14.2481 6.1696,-24.98123 8.2051,-36.20704 2.0354,-11.22578 3.7618,-22.94481 4.5019,-34.66406 0.7402,-11.71925 0.494,-23.43688 -0.9863,-35.58789 -1.4803,-12.15101 -4.196,-24.73432 -7.4648,-35.89844 -3.2691,-11.164103 -7.092,-20.909075 -11.6563,-29.791012 -4.5643,-8.881937 -9.8688,-16.899736 -16.1602,-25.226562 -6.2912,-8.326829 -13.5696,-16.962248 -21.5878,-25.289063 -8.0185,-8.326815 -16.777,-16.3456069 -28.0645,-25.5976561 -11.2875,-9.2520499 -25.1037,-19.7371269 -38.9199,-30.2226559 l -1066.21096,0.65039 -0.0137,-1.453125 z  M 38.231871,884.82031 0.16546475,885.13477 38.569762,885.34375 c -0.126828,-0.19131 -0.21108,-0.33215 -0.337891,-0.52344 z  m -38.06640625,0.31446 -30.66210975,-0.16797 0.002,0.41992 z');
  --clip-path-right: path('m -32.445863,-35.589844 0.002,0.820313 29.5937498,-0.01758 C 10.966079,-24.301569 24.782241,-13.816512 36.069762,-4.5644531 47.357281,4.6876054 56.115769,12.70638 64.134215,21.033203 c 8.018445,8.326823 15.296498,16.962226 21.58789,25.289063 6.291393,8.326835 11.595818,16.344616 16.160155,25.226562 4.56435,8.881946 8.38914,18.626894 11.6582,29.791012 3.26908,11.16413 5.98255,23.74742 7.4629,35.89844 1.48033,12.15102 1.72647,23.86863 0.98632,35.58789 -0.74014,11.71926 -2.4665,23.43826 -4.50195,34.66406 -2.03545,11.22582 -4.37897,21.95893 -8.20312,36.20704 -3.82417,14.24809 -9.12941,32.01052 -17.394536,57.48437 -8.265132,25.47387 -19.490709,58.65796 -29.667969,87.1543 -10.177258,28.49633 -19.304797,52.30377 -28.865234,79.5664 -9.560437,27.26265 -19.551735,57.97831 -28.0019531,86.47461 -8.450218,28.49631 -15.3583319,54.7728 -19.9843749,75.74414 -4.626043,20.97135 -6.971279,36.63731 -7.896484,51.37891 -0.925207,14.7416 -0.430479,28.55768 1.419921,42.74414 1.850402,14.18646 5.057947,28.742 8.388672,42.25 3.3307268,13.508 6.7839548,25.96719 11.1015628,38.48828 4.3176078,12.52109 9.499527,25.10413 13.1386722,33.67774 3.639144,8.57359 5.73553,13.13753 9.986328,20.25 4.166619,6.9716 10.445857,16.44192 16.722656,25.91015 l 668.066409,-5.50586 1105.57612,6.0293 c -6.4042,-9.66051 -12.8097,-19.32115 -17.0605,-26.43359 -4.2508,-7.11247 -6.3472,-11.67642 -9.9863,-20.25 -3.6392,-8.57361 -8.8211,-21.15666 -13.1387,-33.67774 -4.3176,-12.52108 -7.7708,-24.98029 -11.1016,-38.48828 -3.3307,-13.50799 -6.5382,-28.06355 -8.3886,-42.25 -1.8504,-14.18645 -2.3432,-28.00255 -1.418,-42.74414 0.9252,-14.74159 3.2685,-30.40758 7.8945,-51.37891 4.6261,-20.97132 11.5342,-47.24786 19.9844,-75.74414 8.4502,-28.49627 18.4415,-59.21198 28.002,-86.47461 9.5602,-27.2626 18.6901,-51.0701 28.8671,-79.5664 10.1773,-28.49631 21.4029,-61.68045 29.668,-87.1543 8.2652,-25.47382 13.5684,-43.2363 17.3926,-57.48437 3.8242,-14.2481 6.1696,-24.98123 8.2051,-36.20704 2.0354,-11.22578 3.7618,-22.94481 4.5019,-34.66406 0.7402,-11.71925 0.494,-23.43688 -0.9863,-35.58789 -1.4803,-12.15101 -4.196,-24.73432 -7.4648,-35.89844 -3.2691,-11.164103 -7.092,-20.909075 -11.6563,-29.791012 -4.5643,-8.881937 -9.8688,-16.899736 -16.1602,-25.226562 -6.2912,-8.326829 -13.5696,-16.962248 -21.5878,-25.289063 -8.0185,-8.326815 -16.777,-16.3456069 -28.0645,-25.5976561 -11.2875,-9.2520499 -25.1037,-19.7371269 -38.9199,-30.2226559 l -1066.21096,0.65039 -0.0137,-1.453125 z  M 38.231871,884.82031 0.16546475,885.13477 38.569762,885.34375 c -0.126828,-0.19131 -0.21108,-0.33215 -0.337891,-0.52344 z  m -38.06640625,0.31446 -30.66210975,-0.16797 0.002,0.41992 z');

  &:global([data-hero-after-header]) {
    margin-top: -184px;

    @include --max-md {
      margin-top: -101px;
    }
  }
}

.root::before {
  content: '';
  background-color: rgba(0, 28, 44, 0.302);
  // filter: drop-shadow(1.113px 7.922px 9px rgba(0, 25, 41, 0.15));
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - 800px - 20px);
  z-index: 10;
  clip-path: var(--clip-path);
  transform: scale(-1, -1);
}

.root::after {
  content: '';
  background-color: rgba(0, 28, 44, 0.302);
  // filter: drop-shadow(1.113px -7.922px 9px rgba(0, 25, 41, 0.15));
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - 800px + 60px);
  z-index: 10;
  clip-path: var(--clip-path);
  // box-shadow: -1.113px 7.922px 12.74px 0.26px rgba(0, 25, 41, 0.24);
}

.viewport {
  overflow: hidden;
}

.container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  // overflow: hidden;
}

// .carousel-item {
//   width: 1600px;
//   height: 850px;
// }

.card {
  position: relative;
  height: 850px;
  width: 1920px;
  margin-left: -200px;
  clip-path: var(--clip-path);
  background-size: cover;
  background-position: 50% 50%;
}

.card-left {
  // clip-path: var(--clip-path-left);
}

.card-center {
  // clip-path: var(--clip-path-center);
}

.card-right {
  // clip-path: var(--clip-path-right);
}

.parallax {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.parallax-image {
  // position: absolute;
  // left: 0;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // z-index: -1;
  // background-position: 50% 50%;
  // background-size: cover;
  
  max-width: none;
  // flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
  // object-fit: cover;
}

// .parallax-image-first {
//   background-image: url('/hero/slide-1.jpg');
// }

// .parallax-image-second {
//   background-image: url('/hero/slide-2.jpg');
// }

// .parallax-image-third {
//   background-image: url('/hero/slide-3.jpg');
// }

// .parallax-image-fourth {
//   background-image: url('/hero/slide-4.jpg');
// }

// .parallax-image-fifth {
//   background-image: url('/hero/slide-5.jpg');
// }

.dots {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.dot {
  width: 16px;
  height: 16px;
  position: relative;
}

.dot::before {
  content: '';
  border-radius: 50%;
  background-color: rgb(188, 188, 188);
  position: absolute;
  width: 6px;
  height: 6px;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
  transition: .3s ease;
}

.dot_active::before {
  background-image: linear-gradient(53deg, rgb(169, 0, 131) 0%, rgb(160, 45, 250) 100%);
  transform: scale(2.75);
}

.dot_before::before,
.dot_after::before {
  transform: scale(1.75);
}

.prev,
.next {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.502);
  box-shadow: 0px 0px 9px 0px rgba(0, 25, 41, 0.08);
  width: 46px;
  height: 46px;
  display: block;
  transition: .3s ease;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.702);
  box-shadow: 1.113px 7.922px 9px 0px rgba(0, 25, 41, 0.15);
}

.nav {
  position: absolute;
  display: flex;
  gap: 32px;
  bottom: 80px;
  left: calc(50% + 800px);
  transform: translateX(-50%);
  z-index: 20;
}
