.root {
  --slide-size: 1;
  --slide-height: calc(850px * var(--slide-size));
  --slide-width: calc(2000px * var(--slide-size));
  --slide-spacing: calc(200px * var(--slide-size));
  --slide-clip-path: url('#hero-clip-path');

  position: relative;
  overflow: hidden;

  &:global([data-hero-after-header]) {
    margin-top: -184px;

    @include --max-2xl {
      margin-top: -164px;
    }
    @include --max-md {
      margin-top: -101px;
    }
  }

  @include --max-3xl {
    --slide-size: 0.85;
  }
  @include --max-2xl {
    --slide-size: 0.75;
  }
}

.clip-path-root {
}

.clip-path-mask {
  transform: scale(var(--slide-size), var(--slide-size));
}

.root::before {
  content: '';
  background-color: rgba(0, 28, 44, 0.302);
  position: absolute;
  width: var(--slide-width);
  top: 0;
  bottom: 0;
  left: auto;
  right: calc(50% + calc(800px * var(--slide-size)) - calc(20px * var(--slide-size)));
  z-index: 10;
  clip-path: var(--slide-clip-path);
  // transform: scale(-1, -1);
}

.root::after {
  content: '';
  background-color: rgba(0, 28, 44, 0.302);
  // filter: drop-shadow(1.113px -7.922px 9px rgba(0, 25, 41, 0.15));
  position: absolute;
  width: var(--slide-width);
  top: 0;
  bottom: 0;
  left: calc(50% + calc(800px * var(--slide-size)) - calc(20px * var(--slide-size)));
  right: auto;
  z-index: 10;
  clip-path: var(--slide-clip-path);
  // box-shadow: -1.113px 7.922px 12.74px 0.26px rgba(0, 25, 41, 0.24);
}

.viewport {
  overflow: hidden;
}

.container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.slide {
  flex: 0 0 calc(var(--slide-width) - var(--slide-spacing) - var(--slide-spacing));
  min-width: 0;
  padding-left: var(--slide-spacing);
  box-sizing: content-box;
}

.slide-content {
  height: var(--slide-height);
  width: var(--slide-width);
  margin-left: calc(var(--slide-spacing) * -1);
  margin-right: calc(var(--slide-spacing) * -1);
  clip-path: var(--slide-clip-path);
}

.dots {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: calc(54px * var(--slide-size));
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.dot {
  width: 16px;
  height: 16px;
  position: relative;
}

.dot::before {
  content: '';
  border-radius: 50%;
  background-color: rgb(188, 188, 188);
  position: absolute;
  width: 6px;
  height: 6px;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
  transition: 0.3s ease;
}

.dot_active::before {
  background-image: linear-gradient(53deg, rgb(169, 0, 131) 0%, rgb(160, 45, 250) 100%);
  transform: scale(2.75);
}

.dot_before::before,
.dot_after::before {
  transform: scale(1.75);
}

.prev,
.next {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.502);
  box-shadow: 0px 0px 9px 0px rgba(0, 25, 41, 0.08);
  color: #000;
  width: 46px;
  height: 46px;
  display: block;
  transition: 0.3s ease;
  position: relative;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.702);
  box-shadow: 1.113px 7.922px 9px 0px rgba(0, 25, 41, 0.15);
}

.prev::before,
.next::before {
  content: '';
  width: 19px;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prev::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -6px;
  width: 6px;
  height: 6px;
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.next::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  margin-left: 6px;
  width: 6px;
  height: 6px;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.nav {
  position: absolute;
  display: flex;
  gap: calc(32px * var(--slide-size));
  z-index: 20;
  bottom: calc(80px * var(--slide-size));
  transform: translateX(-50%);
  left: calc(50% + calc(1792px / 2));
  margin-left: -96px;

  @include --max-3xl {
    left: calc(50% + calc(1536px / 2));
    margin-left: -64px;
    transform: translateX(-100%);
    bottom: calc(40px * var(--slide-size));
  }
  @include --max-2xl {
    left: calc(50% + calc(1280px / 2));
    margin-left: -32px;
  }
  @include --max-xl {
    left: calc(50% + calc(1024px / 2));
    margin-left: -16px;
  }
  @include --max-lg {
    left: calc(50% + calc(768px / 2));
    margin-left: -12px;
  }
}
