.root {
  position: relative;
  --slide-height: 850px;
  --slide-spacing: 160px;
  --slide-size: calc(1600px + 160px);

  --slide-clip-path: path('M 60.820312 -2.1796875   C 69.127005 6.0416173 75.988358 13.461398 82.130859 21.033203   C 88.885814 29.360002 95.018295 37.995453 100.31836 46.322266   C 105.61839 54.649074 110.08846 62.666909 113.93359 71.548828   C 117.77871 80.430747 120.99995 90.175767 123.75391 101.33984   C 126.50784 112.50394 128.79197 125.08729 130.03906 137.23828   C 131.28614 149.38927 131.4946 161.10694 130.87109 172.82617   C 130.24759 184.5454 128.79285 196.26449 127.07812 207.49023   C 125.36342 218.71602 123.38955 229.44919 120.16797 243.69727   C 116.94636 257.9453 112.47644 275.70788 105.51367 301.18164   C 98.550899 326.65545 89.095089 359.83969 80.521484 388.33594   C 71.947878 416.83218 64.259056 440.6398 56.205078 467.90234   C 48.151099 495.16493 39.731981 525.88074 32.613281 554.37695   C 25.494585 582.87317 19.676404 609.14981 15.779297 630.12109   C 11.88219 651.09238 9.9063713 666.75843 9.1269531 681.5   C 8.3475319 696.24157 8.7634362 710.05771 10.322266 724.24414   C 11.881095 738.43057 14.582779 752.98617 17.388672 766.49414   C 20.194569 780.00211 23.104915 792.46136 26.742188 804.98242   C 30.379459 817.50348 34.74483 830.08655 37.810547 838.66016   C 40.016104 844.8282 41.84304 848.76905 43.863281 853.22852   L 325.75586 852.96875   C 325.79174 853.0479 325.82728 853.14905 325.86328 853.22852   L 1819.1758 851.84766   C 1817.4216 847.85385 1815.6938 844.24369 1813.6973 838.66016   C 1810.6315 830.08655 1806.2642 817.50347 1802.627 804.98242   C 1798.9897 792.46137 1796.0813 780.0021 1793.2754 766.49414   C 1790.4694 752.98618 1787.7679 738.43056 1786.209 724.24414   C 1784.6502 710.05772 1784.2342 696.24156 1785.0137 681.5   C 1785.7931 666.75844 1787.767 651.09236 1791.6641 630.12109   C 1795.5612 609.14983 1801.3812 582.87314 1808.5 554.37695   C 1815.6187 525.88077 1824.036 495.16491 1832.0898 467.90234   C 1840.1437 440.63983 1847.8347 416.83215 1856.4082 388.33594   C 1864.9817 359.83972 1874.4395 326.65543 1881.4023 301.18164   C 1888.3651 275.70791 1892.8331 257.94528 1896.0547 243.69727   C 1899.2763 229.4492 1901.252 218.71601 1902.9668 207.49023   C 1904.6814 196.26451 1906.1343 184.54539 1906.7578 172.82617   C 1907.3814 161.10695 1907.1748 149.38926 1905.9277 137.23828   C 1904.6806 125.0873 1902.3924 112.50393 1899.6387 101.33984   C 1896.8847 90.175782 1893.6634 80.430738 1889.8184 71.548828   C 1885.9732 62.666918 1881.5053 54.649065 1876.2051 46.322266   C 1870.9053 37.995461 1864.7742 29.359994 1858.0195 21.033203   C 1852.0878 13.721391 1845.4231 6.5209937 1837.5098 -1.359375   L 342.82031 -2.1796875   C 342.87569 -2.1248768 342.90764 -2.0801304 342.96289 -2.0253906   L 60.820312 -2.1796875   z      M 48.345703 884.9375   L 28.242188 885.13477   L 48.748047 885.26758   L 48.345703 884.9375   z      M 28.242188 885.13477   L 2.4121094 884.9668   L 2.4140625 885.38672   L 28.242188 885.13477   z      M 330.3457 884.9375   L 310.24219 885.13477   L 330.74805 885.26758   L 330.3457 884.9375   z      M 310.24219 885.13477   L 284.41211 884.9668   L 284.41406 885.38672   L 310.24219 885.13477   z');
  --slide-clip-path-reverse: path('m 1848.6905,853.38672 c -8.3067,-8.2213 -15.1681,-15.64109 -21.3106,-23.21289 -6.7549,-8.3268 -12.8874,-16.96225 -18.1875,-25.28906 -5.3,-8.32681 -9.7701,-16.34465 -13.6152,-25.22657 -3.8451,-8.88191 -7.0663,-18.62693 -9.8203,-29.79101 -2.7539,-11.1641 -5.0381,-23.74745 -6.2852,-35.89844 -1.247,-12.15099 -1.4555,-23.86866 -0.832,-35.58789 0.6235,-11.71923 2.0783,-23.43832 3.793,-34.66406 1.7147,-11.22579 3.6886,-21.95896 6.9101,-36.20704 3.2216,-14.24803 7.6916,-32.01061 14.6543,-57.48437 6.9628,-25.47381 16.4186,-58.65805 24.9922,-87.1543 8.5736,-28.49624 16.2624,-52.30386 24.3164,-79.5664 8.054,-27.26259 16.4731,-57.9784 23.5918,-86.47461 7.1187,-28.49622 12.9369,-54.77286 16.834,-75.74414 3.8971,-20.97129 5.8729,-36.63734 6.6524,-51.37891 0.7794,-14.74157 0.3635,-28.55771 -1.1954,-42.74414 -1.5588,-14.18643 -4.2605,-28.74203 -7.0664,-42.25 -2.8059,-13.50797 -5.7162,-25.967218 -9.3535,-38.488278 -3.6373,-12.52106 -8.0026,-25.10413 -11.0683,-33.67774 -2.2056,-6.16804 -4.0325,-10.10889 -6.0528,-14.56836 l -281.8926,0.25977 c -0.036,-0.07915 -0.071,-0.1803 -0.1074,-0.25977 L 90.335006,-0.640628 c 1.7542,3.993811 3.482,7.60397 5.4785,13.1875 3.0658,8.57361 7.433104,21.15669 11.070304,33.67774 3.6373,12.52105 6.5457,24.980318 9.3516,38.488278 2.806,13.50796 5.5075,28.06358 7.0664,42.25 1.5588,14.18642 1.9748,28.00258 1.1953,42.74414 -0.7794,14.74156 -2.7533,30.40764 -6.6504,51.37891 -3.8971,20.97126 -9.7171,47.24795 -16.8359,75.74414 -7.118704,28.49618 -15.536004,59.21204 -23.589804,86.47461 -8.0539,27.26251 -15.7449,51.07019 -24.3184,79.5664 -8.5735,28.49622 -18.0313,61.68051 -24.9941,87.1543 -6.9628,25.47373 -11.4308,43.23636 -14.6524,57.48437 -3.2216,14.24807 -5.1973005,24.98126 -6.9121005,36.20704 -1.7146,11.22572 -3.1675,22.94484 -3.791,34.66406 -0.6236,11.71922 -0.417,23.43691 0.8301,35.58789 1.2471,12.15098 3.5353,24.73435 6.289,35.89844 2.7540005,11.16406 5.9753005,20.9091 9.8203005,29.79101 3.8452,8.88191 8.3131,16.89977 13.6133,25.22657 5.2998,8.3268 11.4309,16.96227 18.1856,25.28906 5.9317,7.31181 12.5964,14.51221 20.5097,22.39258 l 1494.689494,0.82031 c -0.055,-0.0548 -0.087,-0.0996 -0.1426,-0.1543 z  m 12.4746,-887.117188 20.1035,-0.19727 -20.5058,-0.13281 z  m 20.1035,-0.19727 25.8301,0.16797 v -0.41992 z  m -302.1035,0.19727 20.1035,-0.19727 -20.5058,-0.13281 z  m 20.1035,-0.19727 25.8301,0.16797 v -0.41992 z');

  &:global([data-hero-after-header]) {
    margin-top: -184px;

    @include --max-md {
      margin-top: -101px;
    }
  }
}

.root::before {
  content: '';
  background-color: rgba(0, 28, 44, 0.302);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - 800px - 30px);
  z-index: 10;
  clip-path: var(--slide-clip-path-reverse);
  transform: scale(-1, -1);
}

.root::after {
  content: '';
  background-color: rgba(0, 28, 44, 0.302);
  // filter: drop-shadow(1.113px -7.922px 9px rgba(0, 25, 41, 0.15));
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - 800px + 60px);
  z-index: 10;
  clip-path: var(--slide-clip-path);
  // box-shadow: -1.113px 7.922px 12.74px 0.26px rgba(0, 25, 41, 0.24);
}

.viewport {
  overflow: hidden;
}

.container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.slide-content {
  height: 850px;
  width: 1920px;
  margin-left: -200px;
  clip-path: var(--slide-clip-path);
}

.dots {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 54px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.dot {
  width: 16px;
  height: 16px;
  position: relative;
}

.dot::before {
  content: '';
  border-radius: 50%;
  background-color: rgb(188, 188, 188);
  position: absolute;
  width: 6px;
  height: 6px;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
  transition: .3s ease;
}

.dot_active::before {
  background-image: linear-gradient(53deg, rgb(169, 0, 131) 0%, rgb(160, 45, 250) 100%);
  transform: scale(2.75);
}

.dot_before::before,
.dot_after::before {
  transform: scale(1.75);
}

.prev,
.next {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.502);
  box-shadow: 0px 0px 9px 0px rgba(0, 25, 41, 0.08);
  color: #000;
  width: 46px;
  height: 46px;
  display: block;
  transition: .3s ease;
  position: relative;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.702);
  box-shadow: 1.113px 7.922px 9px 0px rgba(0, 25, 41, 0.15);
}

.prev::before,
.next::before {
  content: '';
  width: 19px;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prev::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -6px;
  width: 6px;
  height: 6px;
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.next::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  margin-left: 6px;
  width: 6px;
  height: 6px;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.nav {
  position: absolute;
  display: flex;
  gap: 32px;
  bottom: 80px;
  left: calc(50% + 800px);
  transform: translateX(-50%);
  z-index: 20;
}
