.field {
}

.field:has(.input:focus) {
  border-color: #000;
}

.input:focus {
  outline: none;
}

.tag {
  display: inline-flex;
  align-items: center;
  height: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  background: var(--color-neutral-100);
  border-radius: 12px;
  padding: 0 12px;
  user-select: none;
}

.tag:focus {
  background: var(--color-blue-100);
  outline: none;
}

.tagRemove {
  width: 26px;
  height: 26px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -12px;
  margin-left: 4px;
}

.tagRemove:hover {
  background: var(--color-neutral-200);
}

.tag:focus .tagRemove:hover {
  background: var(--color-blue-200);
}

.input {
  font-size: 14px;
  height: 36px;
  margin-top: -5px;
  margin-bottom: -5px;
  width: 100%;
  background: transparent;
  padding: 0 8px;
}
