.content {
  &[vaul-drawer-direction="bottom"] {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    margin-top: 6rem;
    height: 280px;
    display: flex;
    height: auto;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    border-width: 1px;
    background-color: hsl(var(--background));
    // padding: 16px;
    // padding-top: 24px;
    &::before {
      content: '';
      width: 100px;
      height: 8px;
      top: 12px;
      left: 50%;
      margin-left: -50px;
      position: absolute;
      background-color: hsl(var(--muted));
      border-radius: 9999px;
    }
  }
  &[vaul-drawer-direction="left"] {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    margin-right: 6rem;
    width: 280px;
    display: flex;
    height: auto;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    border-width: 1px;
    background-color: hsl(var(--background));
    // padding: 16px;
    // padding-right: 24px;
    &::before {
      content: '';
      height: 100px;
      width: 8px;
      right: 12px;
      top: 50%;
      margin-top: -50px;
      position: absolute;
      background-color: hsl(var(--muted));
      border-radius: 9999px;
    }
  }
  &[vaul-drawer-direction="right"] {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    margin-left: 6rem;
    width: 280px;
    display: flex;
    height: auto;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    border-width: 1px;
    background-color: hsl(var(--background));
    // padding: 16px;
    // padding-left: 24px;
    &::before {
      content: '';
      height: 100px;
      width: 8px;
      left: 12px;
      top: 50%;
      margin-top: -50px;
      position: absolute;
      background-color: hsl(var(--muted));
      border-radius: 9999px;
    }
  }
}
