.section {
  padding-top: 48px;
  padding-bottom: 160px;

  @include --max-lg {
    padding-top: 32px;
    padding-bottom: 96px;
  }
  @include --max-md {
    padding-top: 24px;
    padding-bottom: 64px;
  }
}

.withBreadcrumbs {
  padding-top: 24px;

  @include --max-lg {
    padding-top: 24px;
  }
  @include --max-md {
    padding-top: 16px;
  }
}
