.root {
  background: #d0dbe2;
  padding: 12px 0 8px;

  @include max-md {
    padding: 0;
  }
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);

  @include max-md {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;
  
  @include max-md {
    border-top: 1px solid #fff;
    width: calc(100% + var(--container-padding) * 2);
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
    padding: 4px var(--container-padding);
    gap: 16px;
  }
}

.icon {
  display: flex;
  align-self: flex-start;
  flex-shrink: 0;
}

.title {
  font-size: 16px;
  color: #4a4e50;
  line-height: 1.2;
  
  @include max-md {
    font-size: 14px;
  }
}
