$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

@mixin --sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin --md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin --lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin --xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin --2xl {
  @media (min-width: $breakpoint-2xl) {
    @content;
  }
}

@mixin --max-sm {
  @media not all and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin --max-md {
  @media not all and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin --max-lg {
  @media not all and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin --max-xl {
  @media not all and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin --max-2xl {
  @media not all and (min-width: $breakpoint-2xl) {
    @content;
  }
}
