.content {
  padding: 120px;
  max-width: 960px;

  @include max-lg {
    padding: 64px;
  }
  @include max-md {
    padding: 24px;
    max-width: 384px;
  }
}

.assetsS {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: -145px 0px 0 280px;
}

.assetsDive {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: -200px 0 0 -340px;
}

.assetsMaster {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 135px 0px 0 355px;
}

.assetsRing {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 70px 0px 0 -35px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 60px 1fr;
  grid-template-rows: auto 56px 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'product . title'
    'product . .'
    'product . form';

  @include min-md {
    position: relative;
    z-index: 1;
  }
  @include max-md {
    grid-template-columns: 1fr;
    grid-template-rows: auto 16px auto 16px auto;
    grid-template-areas:
      'title'
      '.'
      'product'
      '.'
      'form';
  }
}

.layoutProduct {
  grid-area: product;
}

.layoutTitle {
  grid-area: title;
}

.layoutForm {
  grid-area: form;
}

.product {
  position: relative;
  z-index: 1;
}

.product::before {
  content: '';
  position: absolute;
  z-index: -1;
  z-index: -1;
  right: 0;
  left: 60px;
  bottom: -30px;
  top: 0;
  border: 10px solid rgba(73, 88, 254, 0.07);

  @include max-md {
    display: none;
  }
}

.productImage {
  display: flex;
  position: relative;
  aspect-ratio: 1;
  left: -60px;
  margin-right: 30px;

  @include max-md {
    left: 0;
    margin-right: 0;
    max-width: 160px;
  }
}

.productTitle {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  line-height: 1.25;
  font-family: var(--font-sans-narrow);
  margin-top: 16px;

  @include max-md {
    font-size: 16px;
    margin-top: 8px;
  }
}

.productPrice {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 12px;

  @include max-md {
    margin-top: 8px;
  }
}

.productPriceLabel {
  color: #9d9d9d;
  font-size: 16px;
  line-height: 1;
  padding-top: 4px;

  @include max-md {
    font-size: 12px;
    padding-top: 2px;
  }
}

.productPriceValue {
  font-size: 24px;
  font-weight: bold;
  color: #b6359d;
  line-height: 1;

  @include max-md {
    font-size: 16px;
  }
}

.productPriceDesc {
  color: #9d9d9d;
  font-size: 14px;
  line-height: 1;
  padding-top: 4px;

  @include max-md {
    font-size: 12px;
    padding-top: 2px;
  }
}

.title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
  line-height: 1;
  font-family: var(--font-sans-narrow);

  @include max-md {
    font-size: 18px;
  }
}

.desc {
  font-size: 18px;
  line-height: 22px;
  color: #343434;
  font-weight: 400;
  margin-bottom: 38px;

  @include max-md {
    display: none;
  }
}

.rows {
  @include min-md {
    max-width: 290px;
  }
}

* + .rowInput {
  margin-top: 10px;
}

* + .rowRules {
  margin-top: 18px;

  @include max-md {
    margin-top: 16px;
  }
}

* + .rowSubmit {
  margin-top: 34px;

  @include max-md {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
}

.rules {
  display: block;
  position: relative;
  padding-left: 24px;
  font-size: 14px;
  color: #9d9d9d;
  line-height: 1;

  a {
    text-decoration: underline;
    color: #767676;
    &:hover {
      color: #000;
    }
  }
}

.rulesControl {
  appearance: none;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #beced6;
  position: absolute;
  left: 0;
  top: 0;
}

.rulesControl::before {
  content: '';
  width: 12px;
  height: 7px;
  border-left: 3px solid #5253fe;
  border-bottom: 3px solid #5253fe;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  margin-top: -1px;
  opacity: 0;
}

.rulesControl:checked::before {
  opacity: 1;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  padding: 64px;

  @include max-lg {
    padding: 64px;
  }
  @include max-md {
    padding: 24px;
    width: 320px;
  }
}

.successTitle {
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-sans-narrow);
  margin-bottom: 36px;
}

.successBody {
  width: 312px;
  height: 312px;
  position: relative;
  z-index: 1;
  padding-top: 95px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
}

.successBody::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 34px solid rgba(73, 88, 253, 0.12);
  border-radius: 50%;
  z-index: -1;
}

.successBody::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 141px;
  height: 108px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='141px' height='108px'%3E%3Cpath fill-rule='evenodd' fill='rgb(73, 87, 254)' d='M137.142,18.499 L55.405,102.561 C54.918,103.407 54.312,104.203 53.573,104.913 C49.389,108.934 42.750,108.786 38.746,104.584 L3.514,68.515 C-0.491,64.313 -0.344,57.647 3.840,53.628 C8.025,49.607 14.664,49.754 18.668,53.956 L46.074,82.013 L121.988,3.938 C125.992,-0.263 132.630,-0.410 136.815,3.610 C141.000,7.631 141.146,14.297 137.142,18.499 Z' /%3E%3C/svg%3E")
    no-repeat 50% 50%;
  background-size: 100% 100%;
  top: -20px;
  left: 50%;
  margin-left: -58px;
}

.successDesc {
  font-size: 17px;
  line-height: 20px;
  color: #2b2b2b;
  text-align: center;
}

.successAlt {
  font-size: 17px;
  line-height: 20px;
  color: #4f4f4f;
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.successSubmit {
  display: flex;
  justify-content: center;
}
