.wrap {
  font-size: 12px;
  line-height: 1.15;
  color: #000;
  text-align: center;
  border-radius: 12px;
  padding: 12px 24px;
  transition: 0.3s ease;

  @include max-lg {
    padding: 12px 20px;
  }
}

.wrap a {
  color: #a90083;
}

.wrap a:hover {
  text-decoration: underline;
}
