.title {
  font-size: 18px;
  line-height: 24px;
  color: #222222;
  font-weight: 700;
}

.warning {
  font-size: 12px;
  line-height: 16px;
  color: #3a3a3a;
  padding: 10px 20px;
  display: flex;
  gap: 12px;
  background: #f6faff;
  border-radius: 12px;
}

.warning svg {
  color: #939393;
}

.change {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #a90083;
  font-weight: bold;
  font-family: var(--font-sans-narrow);
  display: inline-block;
}
